@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


<div>
    @if (IsReady)
    {
        <IconTitle ExtraClass="mt-2" Title="Experimental" IconName="twemoji:test-tube" TitleHolder="h4" />

        <svg viewBox="-13.554 -146.76 341.725 291.918" width="341.725" height="291.918" xmlns="http://www.w3.org/2000/svg">
            <g transform="matrix(1, 0, 0, 0.505312, 0, 61.41452)">
                <title>PlanetNames</title>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 24.9324px; line-height: 39.8919px; white-space: pre;" transform="matrix(0.401084, 0, 0, 0.793736, 8.168624, 140.772064)">SUN</text>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 31.6578px; line-height: 50.6524px; white-space: pre;" transform="matrix(0.315878, 0, 0, 0.625115, 37.1889, 140.555298)">MOON</text>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 48.8378px; line-height: 78.1404px; white-space: pre;" transform="matrix(0.204759, 0, 0, 0.405214, 56.501698, 140.772064)">MARS</text>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 48.8378px; line-height: 78.1404px; white-space: pre;" transform="matrix(0.204759, 0, 0, 0.405215, 88.759056, 140.524002)">MERCURY</text>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 48.8378px; line-height: 78.1404px; white-space: pre;" transform="matrix(0.204759, 0, 0, 0.405215, 138.772461, 140.524002)">VENUS</text>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 48.8378px; line-height: 78.1404px; white-space: pre;" transform="matrix(0.204759, 0, 0, 0.405215, 175.783676, 140.523987)">JUPITER</text>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 48.8378px; line-height: 78.1404px; white-space: pre;" transform="matrix(0.204759, 0, 0, 0.405215, 219.668442, 140.523987)">SATURN<tspan x="0" dy="1em">​</tspan></text>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 48.8378px; line-height: 78.1404px; white-space: pre;" transform="matrix(0.204759, 0, 0, 0.405215, 262.201538, 140.523987)">RAHU</text>
                <text style="fill: rgb(51, 51, 51); font-family: Bahnschrift; font-size: 48.8378px; line-height: 78.1404px; white-space: pre;" transform="matrix(0.204759, 0, 0, 0.405215, 293.898224, 140.523987)">KETU</text>
            </g>
            <g style="" transform="matrix(1, 0, 0, 0.505312, 0, 61.41452)">
                <title>Bars</title>
                <rect x="0.402" y="-120" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Sun]" style="fill: rgb(255, 179, 0);" transform="matrix(1, 0, 0, -1, 0, 0)" />
                <rect x="28.805" y="-120" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Moon]" style="fill: rgb(176, 168, 168);" transform="matrix(1, 0, 0, -1, 0, 0)" />
                <rect x="60.953" y="-120" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Mars]" style="fill: rgb(255, 64, 64);" transform="matrix(1, 0, 0, -1, 0, 0)" />
                <rect x="101.83" y="-120" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Mercury]" style="fill: rgb(14, 232, 61);" transform="matrix(1, 0, 0, -1, 0, 0)" />
                <rect x="145.47" y="-120" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Venus]" style="fill: rgb(0, 255, 200);" transform="matrix(1, 0, 0, -1, 0, 0)" />
                <rect x="186.651" y="-119.146" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Jupiter]" style="fill: rgb(255, 255, 0);" transform="matrix(1, 0, 0, -1, 0, 0)" />
                <rect x="228.325" y="-119.11" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Saturn]" style="fill: rgb(0, 157, 255);" transform="matrix(1, 0, 0, -1, 0, 0)" />
                <rect x="265.575" y="-119.146" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Rahu]" style="fill: rgb(204, 0, 255);" transform="matrix(1, 0, 0, -1, 0, 0)" />
                <rect x="298.398" y="-120.219" stroke="#000000" stroke-miterlimit="10" width="16" height="@capitals[PlanetName.Ketu]" style="fill: rgb(21, 0, 255);" transform="matrix(1, 0, 0, -1, 0, 0)" />
            </g>
        </svg>


    }

</div>


@code {

    private bool IsReady { get; set; } = false; //start hidden

    private Time inputedTime { get; set; } = Time.Empty;
    private Dictionary<PlanetName, double> capitals;
    private Dictionary<PlanetName, double> capitals2;

    private List<(double, PlanetName)>? planetStrengthList = new List<(double, PlanetName)>();

    public void UpdateTime(Time time)
    {
        IsReady = false;

        inputedTime = time;

        planetStrengthList = Calculate.AllPlanetStrength(inputedTime);
        var planetStrengthListxx = Calculate.AllPlanetOrderedByStrength(inputedTime);

        capitals2 = new Dictionary<PlanetName, double>();

        foreach (var planetName in PlanetName.All9Planets)
        {
            var power = planetStrengthList?.Find(x => x.Item2 == PlanetName.Ketu).Item1;
            capitals2.Add(planetName, power ?? 0);
        }

        var lowestPlanet = planetStrengthListxx[8];
        var lowestScore = capitals2[lowestPlanet];
        var minimumPoint = 20;
        var denominator = lowestScore - minimumPoint;

        //--
        capitals = new Dictionary<PlanetName, double>();
        foreach (var planetName in PlanetName.All9Planets)
        {
            var power = planetStrengthList?.Find(x => x.Item2 == planetName).Item1 ?? 0;
            var formatted = power - 100; //to make appear within border
            capitals.Add(planetName, formatted);
        }


        IsReady = true;

        StateHasChanged();
    }


}
