@using VedAstro.Library
@attribute [Route(PageRoute.About)]

<PageTitle>About</PageTitle>

<IconTitle Title="About" TitleHolder="h1" MaxWidthPx="@((int)GR.W667)">
    <ButtonRow>
        <IconButton PlaceBottom="true" ExtraClass="mb-2" ButtonText="Made In" IconName="clarity:factory-line" ClickUrl="@PageRoute.MadeOnEarth" />
        <IconButton PlaceBottom="true" ExtraClass="mb-2" ButtonText="Join Us" IconName="carbon:pedestrian-family" ClickUrl="@PageRoute.JoinOurFamily" />
    </ButtonRow>
</IconTitle>

<div class="vstack gap-2" style="max-width:@GR.W667px">

    <p style="@AppData.DescriptionFont font-size: 18px;line-break: auto;">
        <DropCap Alphabet="A" />nybody who has studied Vedic Astrology knows well how accurate it can be.
        But also how complex it can get to make accurate predictions.
        It takes decades of experience to be able to make accurate prediction.
        Thus, this knowledge only reaches a limited people.
        This project is an effort to change that.
    </p>

    <SubArticleBlock Title="Goal">
        Our goal is to make Vedic Astrology easily accessible to anybody.
        So that people can use it in their daily lives for their benefit.
        Vedic Astrology in Sanskrit means <strong>"Light"</strong> and that is exactly what it is.
        It lights our future so we can change it. And it lights our past, to understand our mistakes.
    </SubArticleBlock>
    <SubArticleBlock Title="How">
        Using modern computational technologies &amp; methods we can <strong>simplify the complexity</strong> of Vedic Astrology.
        For example, calculating planet strength (Bhava Bala) used to take hours, now with computers we can calculate it in
        <strong>milliseconds</strong>. Combining databases &amp; innovative programming methods. There's no need to remember thousands of planetary combinations,
        allowing you to make <strong>accurate predictions</strong> with little to no knowledge.
    </SubArticleBlock>

    <ArticleBlock Title="@PreciseAge" IconName="emojione:birthday-cake">
        <TextHTML>
            The first line of code for this project was written in late <strong>2014</strong> at Itä-Pasila. Back then it was a simple desktop software,
            with no UI and only text display. With continued support from users, this project has steadily developed to what it is today.
            Helping people from all over the world.
        </TextHTML>
    </ArticleBlock>


    <ArticleBlock TextClass="vstack" Title="Credits &amp; Reference" IconName="emojione:books">
        <TextHTML>
            <p>
                Thanks to <BoldLink URL="@URL.BVRamanWiki">B.V. Raman</BoldLink> and his grandfather B. Suryanarain Rao
                for pioneering easy to read astrology books.
                Credit also goes to <BoldLink URL="@URL.LaSalleWiki">St. Jean-Baptiste de La Salle</BoldLink>
                for proving the efficacy of free and open work for the benefit all.
            </p>
            <img src="images/bv-raman-rao.png" class="img-thumbnail my-1 align-self-center" alt="...">
            <p class=" mt-3">
                Astronomical calculation was made possible by <BoldLink URL="@URL.NasaJplSource">NASA JPL</BoldLink>
                data via "SWISS EPHEMERIS" ported by "SwissEphNet".
                Last but not least, we thank users like you who keep this project going.
            </p>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Myth &amp; Philosophy" IconName="emojione:scroll">
        <TextHTML>
            <p class="text-justify">
                It is told in the stories of old, that a heathen god moved by the plight of a
                child. Gave onto him the knowledge of the stars as compensation for the tears.
                The child in turn passed that gift to every soul he knew,
                with no check on price or pedigree. And so astrology was born.
            </p>
            <p class="text-justify">
                As such this knowledge stands as an opportunity for every soul to realize that even though
                we play a role in the world, we are not made of it. That we are <strong>souls</strong> first!
                And the planets do not have a say on it.
            </p>
            <p class="text-justify" style="margin-bottom: 150px;">
                A means of escape from the thralldom of cosmic illusion, is what it really is.
                And so for this reason the masters have continued to bring this out in every age.
                <br />
                It's their gift to us, the <strong>"world folk"</strong>.
            </p>

            <QuoteTextBlock Author="Yukteswar" URL="@URL.YukteswarWiki">
                Mechanical features in the law of karma,<br> can be skillfully adjusted by the fingers of wisdom.
            </QuoteTextBlock>
        </TextHTML>
    </ArticleBlock>


</div>

@code {

    /// <summary>
    /// Dynamically calculate age for always uptodateness
    /// </summary>
    private string PreciseAge
    {
        get
        {
            var birthDate = new DateTime(2014, 12, 1);
            var age = DateTime.Now - birthDate;

            //show age in years with 2 decimal places
            var preciseAge = $"{Math.Round(age.TotalDays / 365.25, 2)}";

            //add in decoration text
            preciseAge += " Years Old";
            return preciseAge;
        }
    }

}
