@using VedAstro.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.Contact)]

<PageTitle>Contact</PageTitle>

<PageTop Title="Contact us" IconName="fluent:chat-mail-20-filled">
    <Description>Report a bug, suggest a feature or just say Hi</Description>
</PageTop>


<div class="d-md-flex justify-content-between">

    @*CONTACT FORM*@
    <div class="me-2">
        @*Default hidden Thank you message*@
        <div style="display: none;" @ref="_thankYouMessageElement">
            <h3>
                Thank you for your message.<br />
                We'll reply soon.
            </h3>
        </div>
        <div class="vstack gap-3 me-5 mb-4" style="width:@GR.W352px;">

            <div @ref="_messageFormElement" class="vstack gap-2" style="max-width: @GR.W667px;">
                <div>
                    <label for="emailInputId">Email</label>
                    <input @bind="_emailInput" type="text" id="emailInputId" class="form-control" placeholder="john@example.com">
                </div>
                <div>
                    <label for="messageInputId">Message</label>
                    <textarea style="min-height: 132px;" class="form-control" @bind="_messageInput" id="messageInputId" placeholder="Hi, this is a short message."></textarea>
                </div>
                <IconButton SmallSize="true" OnClickCallback="@OnClickSendButton" ButtonText="Send" IconName="bi:send-check" />
            </div>
        </div>
    </div>

    @*SIDEBAR*@
    <div class="mt-md-0 mt-4 me-md-5">
        <!--when small give at top-->
        <div class="vstack gap-0 gap-md-2">
            <InfoBox MaxWidth="365" IsNewTabOpen="true" FullWidth="@true" Title="WhatsApp" ClickUrl="@URL.WhatsAppContact" Description="Call or chat with us." IconName="logos:whatsapp-icon" />
            <InfoBox MaxWidth="365" IsNewTabOpen="true" FullWidth="@true" Title="Email" Description="contact@vedastro.org" IconName="flat-color-icons:address-book" Color="success" />
            <InfoBox MaxWidth="365" IsNewTabOpen="true" FullWidth="@true" Title="Telegram" ClickUrl="@URL.TelegramContact" Description="Call or chat with us." IconName="logos:telegram" />
        </div>
    </div>

</div>



@code {

    private string? _messageInput;
    private string? _emailInput;
    private ElementReference _messageFormElement;
    private ElementReference _thankYouMessageElement;



    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER


    private async void OnClickSendButton() => await InvokeAsync(async () => await SendMessage()).Try(_jsRuntime);


    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    private async Task SendMessage()
    {
        //loading box show
        _jsRuntime.ShowLoading();

        await WebsiteTools.SendMailToAPI(_emailInput, _messageInput);

        //hide message form
        await _jsRuntime.Hide(_messageFormElement);
        //show thank you message
        await _jsRuntime.Show(_thankYouMessageElement);

        //hide loading box
        _jsRuntime.HideAlert();
    }
}
