@page "/dasa"
@using Genso.Astrology.Library

<UnderConstructionHeader PageName="Dasa" />


<div class="vstack gap-2">
    @*PERSON SELECTOR*@
    <div>
        <PeopleSelectorBox @ref="_peopleSelectorBox" @bind-SelectedPersonName="SelectedPersonName" />
    </div>
    @*CALCULATE BTN*@
    <div>
        <button @onclick="OnClickCalculate" class="btn btn-primary">Calculate</button>
    </div>
    <hr>
    @*DASA VIEW BOX*@
    <div>
        <DasaReportViewer @ref="_dasaReportViewer" />
    </div>
    <hr>
    @*PLANET INFO LIST*@
    <div>
        @if (_isResultReady)
        {
            <h4 class="mt-2">Planets</h4>
            <div class="container-xxl d-flex flex-nowrap" style="overflow-x: scroll">
                <PlanetInfoBox PlanetName="PlanetName.Sun" Time="@SelectedPerson.GetBirthDateTime()" />
                <PlanetInfoBox PlanetName="PlanetName.Moon" Time="@SelectedPerson.GetBirthDateTime()" />
                <PlanetInfoBox PlanetName="PlanetName.Mercury" Time="@SelectedPerson.GetBirthDateTime()" />
                <PlanetInfoBox PlanetName="PlanetName.Mars" Time="@SelectedPerson.GetBirthDateTime()" />
                <PlanetInfoBox PlanetName="PlanetName.Jupiter" Time="@SelectedPerson.GetBirthDateTime()" />
                <PlanetInfoBox PlanetName="PlanetName.Saturn" Time="@SelectedPerson.GetBirthDateTime()" />
                <PlanetInfoBox PlanetName="PlanetName.Venus" Time="@SelectedPerson.GetBirthDateTime()" />
            </div>
        }
    </div>
    @*HOUSE INFO LIST*@
    <div>
        @if (_isResultReady)
        {
            <h4 class="mt-2">Houses</h4>
            <div class="container-xxl d-flex flex-nowrap" style="overflow-x: scroll">
                <HouseInfoBox HouseNumber="1" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="2" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="3" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="4" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="5" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="6" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="7" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="8" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="9" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="10" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="11" Time="@SelectedPerson.GetBirthDateTime()" />
                <HouseInfoBox HouseNumber="12" Time="@SelectedPerson.GetBirthDateTime()" />
            </div>
        }
    </div>
</div>



@code {

    //--------------------FIELDS

    private PeopleSelectorBox? _peopleSelectorBox;
    private DasaReportViewer? _dasaReportViewer;

    public List<Person>? PersonList { get; set; } //data from URL not necessary provided
    public string? SelectedPersonName { get; set; }
    public Person SelectedPerson { get; set; }
    public GeoLocation SelectedLocation { get; set; }
    private bool _isResultReady = false; //marks if the page ready to loaded



    //--------------------OVERRIDES

    protected override async Task OnInitializedAsync()
    {

        //show loading box
        await _globalVariable.LoadingMessage.Show();

        //set people list into people selector
        //note : without above first call _peopleSelectorBox is null
        PersonList = await WebsiteTools.GetPeopleList(await WebsiteTools.GetUserIdAsync(_jsRuntime));
        _peopleSelectorBox.SetData(PersonList);

        //hide loading box
        await _globalVariable.LoadingMessage.Hide();

    }





    //--------------------METHODS

    private async Task OnClickCalculate()
    {
        await _globalVariable.LoadingMessage.Show();

        //get data from inputs and save it for use by other components
        SelectedPerson = PersonList.Find(p => p.GetName() == SelectedPersonName); //TODO: find person by hash not name only

        await _jsRuntime.AddToProgressBar( 5);

        //set data into dasa viewer
        await _dasaReportViewer.SetData(SelectedPerson);

        //mark page as ready to show results
        _isResultReady = true;

        await _globalVariable.LoadingMessage.Hide();
    }

}