@using Genso.Astrology.Library
@attribute [Route(PageRoute.Donate)]

<PageTitle>Donate</PageTitle>

<PageTop Title="Donate" IconName="iconoir:donate">
    <Description>Funding from users like you is what keeps this project going.</Description>
</PageTop>


<h4 class="fw-bold">Where do donations go?</h4>
<h6>Developers</h6>
<p class="text-justify" style="max-width:@GlobalVariableManager.MaxWidth;">
    A major part of cost is developer salary.
    A page like Match for example took 3 weeks of developer work time to build.
    Cost of one developer work day is $20.
    This means that Match calculator page cost $420 to develop.
</p>
<h6>Hosting</h6>
<p class="text-justify" style="max-width:@GlobalVariableManager.MaxWidth;">
    Next priority goes to hosting costs. Currently VedAstro is hosted in Azure
    as a Static Web App which reduces running cost considerably.
    We try our best to be transparent with the monetary flow so that
    you know your money is spent to help the community.
</p>
<h6>Transparent Donations</h6>
<p class="text-justify" style="max-width:@GlobalVariableManager.MaxWidth;">
    Know exactly where your money is going.
    We try to keep the fund flow as transparent as possible.
    That's why you can choose to sponsor a specific thing.
    Where you know exactly what you're paying for.
</p>

<ol class="list-group" style="max-width: @GlobalVariableManager.MaxWidth">
    <li class="list-group-item active" aria-current="true">Sponsor Stuff</li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">1 Month Domain Fees</div>
            Pay for 1 month of .org domain name registration fees $1 <IconButton ButtonText="Sponsor $1" ClickUrl="@PageRoute.DonatePayment" IconName="simple-icons:githubsponsors" />
        </div>
        @*        <span class="badge bg-primary rounded-pill">14</span>
*@    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">6 Months Domain Fees</div>
            Sponsor 6 months .org domain name registration fees $5 <IconButton ButtonText="Sponsor $5" ClickUrl="@PageRoute.DonatePayment" IconName="simple-icons:githubsponsors" />
        </div>
        @*        <span class="badge bg-primary rounded-pill">14</span>
*@    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">1 Year Domain Fees</div>
            Pay for 1 year .org domain name registration fees $10 <IconButton ButtonText="Sponsor $10" ClickUrl="@PageRoute.DonatePayment" IconName="simple-icons:githubsponsors" />
        </div>
        @*        <span class="badge bg-primary rounded-pill">14</span>
*@    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Develop New Feature</div>
            Donate 1 new feature of your choice for an existing calculator page $20 <IconButton ButtonText="Sponsor $20" ClickUrl="@PageRoute.DonatePayment" IconName="simple-icons:githubsponsors" />
        </div>
        @*        <span class="badge bg-primary rounded-pill">14</span>
*@    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Develop New Calculator</div>
            Sponsor 1 new calculator page of your choice $420 <IconButton ButtonText="Sponsor $420" ClickUrl="@PageRoute.DonatePayment" IconName="simple-icons:githubsponsors" />
        </div>
        @*        <span class="badge bg-primary rounded-pill">14</span>
*@    </li>
</ol>


@code {


}
