@using System.Xml.Linq
@using Genso.Astrology.Library
@attribute [Route(PageRoute.Horoscope)]

@inject HttpClient Client


<PageTitle>Horoscope</PageTitle>
<PageTop Title="Horoscope" IconName="fluent:book-star-20-filled">
    <Description>Astrological predictions of a person's horoscope.<br />Over +370 planetary combinations are checked.</Description>
    <ButtonsRow>
        <IconButton IconName="ant-design:user-add-outlined" ButtonText="Add Person" ClickUrl="@PageRoute.AddPerson"></IconButton>
        <IconButton IconName="carbon:graphical-data-flow" ButtonText="Horoscope Data" ClickUrl="@PageRoute.HoroscopeData"></IconButton>
        <IconButton IconName="bx:book-reader" ButtonText="Help" OnClickCallback="@_helpSection.Show"></IconButton>
    </ButtonsRow>
</PageTop>



<div>

    <div class="d-flex flex-wrap">
        <div class="vstack gap-3">
            <PeopleSelectorBox @ref="_peopleSelectorBox" />
            <IconButton IconName="uim:process" ButtonText="Calculate" OnClickCallback="CalculateButtonClicked"></IconButton>
        </div>
        <div class="alert alert-warning d-flex align-items-center w-50" role="alert">
            <span class="iconify bi flex-shrink-0 me-2" data-icon="ant-design:warning-twotone" data-width="50"></span>
            <div>
                <strong>Remember!</strong><br />
                Results shown here need to be combined with <a href="@PageRoute.HoroscopeData"><span class="fw-bold">Astrological Data</span></a> to get accurate predictions.
            </div>
        </div>
    </div>

    @if (_isReady)
    {
        <hr />

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    <Icon IconName="majesticons:scroll-text-line" />
                    Prediction
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    <Icon IconName="bi:clipboard-data-fill" />
                    Data
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="vstack gap-2 p-2">

                    @*SEARCH*@
                    <div class="hstack gap-3">
                        <input @bind="_searchInput" type="text" class="form-control" placeholder="Search">
                        <IconButton ButtonText="Search" IconName="bx:search-alt" OnClickCallback="SearchButtonClicked"></IconButton>
                    </div>

                    @*LIST OF PREDICTIONS*@
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th style="min-width: 123px;">Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prediction in _filteredHoroscopePredictions)
                            {
                                <tr>
                                    <td>@prediction.FormattedName</td>
                                    <td>@prediction.Description</td>
                                    <td>@prediction.Info</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @*DATA CHART*@
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="vstack gap-3">

                    <StrengthChart Time="@_selectedPerson.BirthTime" />
                    <hr>
                    <PlanetHouseInfoViewer Time="@_selectedPerson.BirthTime" />

                </div>
            </div>
        </div>

    }



    @*HELP SECTION*@
    <PageHelpSection @ref="_helpSection">
        <Content>
            <h4 class="fw-bold">How to use these predictions?</h4>
            <p class="text-justify mb-4" style="max-width:@AppData.MaxWidth;">
                For accurate predictions, results must be duly modified
                or qualified according to the affliction or otherwise of the
                planets concerned. For example, predictions involving planets with
                high strength (Bhava Bala), is often accurate.
            </p>

            <h4 class="fw-bold">Where are these predictions from?</h4>
            <p class="text-justify mb-4" style="max-width:@AppData.MaxWidth;">
                Prediction data come from books by renowned astrologer B.V. Raman.
                Books such as <span class="fw-bold">How to Judge Horoscope</span> and
                <span class="fw-bold">Hindu Predictive Astrology</span>,
                were used to make this calculator.
            </p>
        </Content>
    </PageHelpSection>

</div>

@code {

    private PeopleSelectorBox? _peopleSelectorBox;
    private List<HoroscopePrediction>? _horoscopePredictions;
    private List<HoroscopePrediction>? _filteredHoroscopePredictions;
    private string _searchInput = "";
    private Person _selectedPerson;

    private PageHelpSection _helpSection;

    private bool _isReady = false;


    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER

    private async Task SearchButtonClicked() => await InvokeAsync(async () => await _SearchButtonClicked()).Try(_jsRuntime);
    private async Task CalculateButtonClicked() => await InvokeAsync(async () => await _CalculateAndUpdateEvents()).Try(_jsRuntime);





    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█


    private async Task _SearchButtonClicked()
    {
        await _jsRuntime.ShowLoading();

        //if no search text means reset (no filter applied)
        if (_searchInput == "") { _filteredHoroscopePredictions = _horoscopePredictions.ToList(); return; }

        //else search by text
        _filteredHoroscopePredictions = _horoscopePredictions.FindAll(x => x.Contains(_searchInput));

        _jsRuntime.HideLoading();
    }


    /// <summary>
    /// Checks if validation of all input fields
    /// </summary>
    private async Task<bool> ValidationPassed()
    {

        //TEST 1
        //if person not selected, invalid
        if (!_peopleSelectorBox.IsPersonSelected)
        {
            //mark invalid & alert user
            await _jsRuntime.ShowAlert("error", AlertText.SelectName, true);
            return false;
        }

        return true;
    }


    private async Task _CalculateAndUpdateEvents()
    {
        //only continue if passed input field validation
        if (!await ValidationPassed()) { return; }

        await _jsRuntime.ShowLoading();

        //hide data while loading
        _isReady = false;

        //get person from person dropdown
        _selectedPerson = await _peopleSelectorBox.GetSelectedPerson();

        //put person name into tab title for easy multi-tabbing
        await _jsRuntime.SetTitle($"Horoscope | {_selectedPerson.Name}");

        //get horoscope predictions from API server
        var personIdXml = new XElement("PersonId", _selectedPerson.Id);
        var rootXml = await ServerManager.WriteToServerXmlReply(ServerManager.GetHoroscope, personIdXml, _jsRuntime);

        //parse xml horoscope predictions
        _horoscopePredictions = HoroscopePrediction.FromXmlList(rootXml);

        _filteredHoroscopePredictions = _horoscopePredictions.ToList(); //make a copy for search

        _jsRuntime.HideAlert();

        _isReady = true;

        StateHasChanged();
    }



}