@using Genso.Astrology.Library


<ul style="font-size: small; min-width: 228px;" class="list-group me-2 my-2">
    <li class="list-group-item active" aria-current="true">House @HouseNumber</li>
    <li class="list-group-item">Details : @_houseDetails</li>
    <li class="list-group-item">Strength : @_houseStrength Shashtiamsas</li>
    <li class="list-group-item">Sign : @_houseSign</li>
    <li class="list-group-item">Lord : @_houseLord</li>
    <li class="list-group-item">Lord Exalted: @(_lordExalted?"Yes":"No")</li>
    <li class="list-group-item">Lord Debilitated: @(_lordDebilitated?"Yes":"No")</li>
    <li class="list-group-item">Planets Inside: @_planetsInHouse</li>
    <li class="list-group-item">Planets Aspecting: @_planetsAspectingHouse</li>
</ul>


@code {

    //FIELDS

    [Parameter]
    public Time Time { get; set; }
    [Parameter]
    public int HouseNumber { get; set; }

    private string? _houseDetails, _houseLord, _houseSign, _planetsInHouse, _planetsAspectingHouse, _houseStrength;
    private bool _lordExalted, _lordDebilitated;


    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER

    protected override async Task OnInitializedAsync()
    {
        //todo loading box not working
        await _globalVariable.LoadingMessage.Show();

        UpdateData();

        await _globalVariable.LoadingMessage.Hide();

    }



    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    public void UpdateData()
    {

        var lordOfHouse = AstronomicalCalculator.GetLordOfHouse((HouseName)HouseNumber, Time);

        //get house details and save it for view
        _houseDetails = AstronomicalCalculator.GetHouseDetails(HouseNumber, Time);
        _houseLord = lordOfHouse.ToString();
        _planetsInHouse = WebsiteTools.ListToString<PlanetName>(AstronomicalCalculator.GetPlanetsInHouse(HouseNumber, Time));
        _planetsAspectingHouse = WebsiteTools.ListToString<PlanetName>(AstronomicalCalculator.GetPlanetsAspectingHouse((HouseName)HouseNumber, Time));
        var rawHouseStrength = AstronomicalCalculator.GetBhavabala((HouseName)HouseNumber, Time).ToDouble();
        _houseStrength = Math.Round(rawHouseStrength,2).ToString();
        _houseSign = AstronomicalCalculator.GetHouseSignName(HouseNumber, Time).ToString();
        //_houseNavamsaSign = AstronomicalCalculator.GetHouseNavamsaSign();

        _lordExalted = AstronomicalCalculator.IsPlanetExaltated(lordOfHouse, Time);
        _lordDebilitated = AstronomicalCalculator.IsPlanetDebilitated(lordOfHouse, Time);

        //update changes to view
        this.StateHasChanged();
    }




}