@using VedAstro.Library
@attribute [Route(PageRoute.Home)]


<PageTitle>VedAstro | Vedic Astrology</PageTitle>

<!--SLIDE SHOW-->
<div>
    <style>
        .backgroudImg {
            background-image: url("images/zodiac-wheel-faded-2.png");
            background-repeat: no-repeat;
        }
    </style>

    <div class="backgroudImg bg-white p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
        <div class="p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">VedAstro</h1>
            <p class="lh-base lead" style="font-weight: 400;">A non-profit, open source project to make<br class="d-none d-md-block" /><span class="fw-bold">Vedic Astrology</span> easily available to all.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <IconButton ButtonText="Quick Guide" IconName="mdi:book-open-variant" ClickUrl="@PageRoute.QuickGuide" />
                <IconButton ButtonText="Source Code" IconName="uil:github" ClickUrl="@URL.GitHubRepo" />
                <IconButton ButtonText="Donate" IconName="iconoir:donate" ClickUrl="@PageRoute.Donate" />
            </div>
        </div>
    </div>
</div>


<!--QUICK LINKS-->
<style>
    /*to make card look clickable*/
    .card:hover {
        border: 2px solid #3E7DC0 !important;
    }
</style>

<div class="py-4" id="icon-grid">
    <IconTitle Title="Quick Links" IconName="flat-color-icons:mind-map" TitleHolder="h4">
        <ButtonRow><IconButton ButtonText="View All" ClickUrl="@PageRoute.CalculatorList" SmallSize="true" ExtraClass="ms-3" Outline="true" /></ButtonRow>
    </IconTitle>



    <div class="g-4 row row-cols-2 row-cols-sm-3 row-cols-lg-4">

        @* done so for dynamic UX *@
        @foreach (var quickLink in _quickLinkList)
        {

            <div @onclick="() => AppData.Go(quickLink.PageRoute)" style="cursor: pointer;" class="col">
                <div class="card">
                    <img src="images/@(quickLink.ImageName)" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@quickLink.Title</h5>
                        <p class="card-text">@quickLink.Description</p>
                    </div>
                </div>
            </div>

        }

    </div>

</div>


@code {

    private List<QuickLink> _quickLinkList = new List<QuickLink>();

    public record QuickLink(string PageRoute, string ImageName, string Title, string Description);

    protected override void OnInitialized()
    {
        var niceOrder = new List<QuickLink>()
        {
            new(PageRoute.ChatAPI, "ai-chat-card.jpg", "AI Astrologer", "Talk & learn with AI powered astrologer for any queries"),
            new(URL.SlackInviteURL, "live-coding-card.jpg", "Watch Live Coding", "Watch & chat with a developer editing code live"),
            new(PageRoute.TableGenerator, "table-generator-card.jpg", "ML Data Generator", "Easily create large ML & AI data tables"),
            new(PageRoute.MatchFinder, "match-finder-card.jpg", "Find Soulmate", "Free search astrological database for perfect match"),
            new(PageRoute.LifePredictor, "dasa-card.jpg", "Life Predictor", "Know good and bad periods of your life years ahead"),
            new(PageRoute.Match, "match-card.jpg", "Match", "Check astro chemistry for romance & relationship"),
            new(PageRoute.Horoscope, "horoscope-card.jpg", "Horoscope", "Predict a person's character, speech, body & general life"),
            new(PageRoute.GoodTimeFinder, "muhurtha-card.jpg", "Muhurtha", "Find a good time for buying car, travel, studies, building.."),
            new(PageRoute.Journal, "add-life-event-card.jpg", "Journal", "Astrological journal to help understand your life events"),
            new(PageRoute.APIBuilder, "open-api-card.jpg", "Open API", "Access powerful astrological tools via a HTTP request"),
            new(PageRoute.BirthTimeFinder, "birth-time-finder-card.jpg", "Birth Time Finder", "Find forgotten or lost birth time using astrological"),
            new(PageRoute.SunRiseSetTime, "sunrise-card.jpg", "Sunrise Time", "Time when Sun's disc center meets the horizon"),
        };

        //mix the list up for newness effect
        var randotron = new Random();
        _quickLinkList = niceOrder.OrderBy(quickLink => randotron.Next()).ToList();

    }

}

