@page "/"

<PageTitle>VedAstro | Vedic Astrologer</PageTitle>

<style>
    .card-title {
        font-weight: bolder;
    }

    .backgroudImg {
        background-image: url("images/zodiac-wheel-faded-2.png");
        background-repeat: no-repeat;
    }

/*    .card {
        min-height: 216px;
    }
*/

</style>



<div class="backgroudImg bg-white row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">VedAstro</h1>
        <p class="lh-base lead" style="font-weight: 400;">A non-profit, open source project to make<br /><span class="fw-bold">Vedic Astrology</span> easily available to all.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button @onclick="OnClickGuideButton" type="button" class="btn btn-primary btn-lg px-4">
                <img class="me-1" style="height: 26px;" src="images/quick-guide.svg" />
                Quick Guide
            </button>
            <button @onclick="OnClickSourceCodeButton" type="button" class="btn btn-primary btn-lg px-4 ">
                <img class="me-1" style="height: 26px;" src="images/github.svg" />
                Source Code
            </button>
        </div>
    </div>
</div>


<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Free Calculators</h2>

    <div style="margin-top: -54px;" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col-sm">
            <div class="card rounded-3 border shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Match</h5>
                    <p class="card-text">Check compatibility between horoscopes</p>
                    <a href="@PageRoute.Match" class="btn btn-primary">Calculate</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card rounded-3 border shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Dasa</h5>
                    <p class="card-text">Know good and bad periods of your life years ahead.</p>
                    <a href="@PageRoute.Dasa" class="btn btn-primary">Calculate</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card rounded-3 border shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Horoscope</h5>
                    <p class="card-text">Shows all possible prediction for a person from birth time.</p>
                    <a href="@PageRoute.Horoscope" class="btn btn-primary">Calculate</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card rounded-3 border shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Journal</h5>
                    <p class="card-text">Astrological journal to understand your life events.</p>
                    <a href="@PageRoute.AddLifeEvent" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card rounded-3 border shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Muhurtha</h5>
                    <p class="card-text">Find a good time for auspicious events</p>
                    <a href="@PageRoute.Muhurtha" class="btn btn-primary">Calculate</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card rounded-3 border shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Local Mean Time</h5>
                    <p class="card-text">Actual time at a place based on coordinates</p>
                    <a href="@PageRoute.LocalMeanTime" class="btn btn-primary">Calculate</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card rounded-3 border shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Sunrise Time</h5>
                    <p class="card-text">Accurate Sunrise/Sunset Time at any place</p>
                    <a href="@PageRoute.SunRiseSetTime" class="btn btn-primary">Calculate</a>
                </div>
            </div>
        </div>

    </div>
</div>
@*
<div class="container mt-5">
    <div class="row">
    </div>

</div>*@



@code {

    private void OnClickSourceCodeButton() => _navigation.NavigateTo("https://github.com/gen-so/Genso.Astrology");
    private void OnClickGuideButton() => _navigation.NavigateTo(PageRoute.QuickGuide);

}


@*
    We're always looking to add more features and tools that will be helpful to people.
    So if you got idea for a feature share it here.

    This website is under active development, if you spot a bug or spelling mistake. Report it here.

    <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">VedAstro</h1>
    <p class="col-md-8 fs-4">
    A non-profit, open source project to make <br\> <span class="fw-bold">Vedic Astrology</span> easily available to all.
    </p>
    <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
    </div>


    <p>
    </p>

    <div class="container">
    </div>
*@