@using VedAstro.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.JoinOurFamily)]

<PageTitle>Join Family | VedAstro</PageTitle>

@* PAGE HEADER *@
<PageTopSideImage 
    ImageName="join-our-family.svg" 
    Title="Join Our Family" 
    DescriptionText="Brainstorm ideas, solve problems, learn &amp; share new skills. We are not just a dev team, we are a dev family." />


<div class="gap-3" style="max-width:@GR.W667px">

    <ArticleBlock Title="Where to begin?" IconName="flat-color-icons:sports-mode">
        <ButtonRow>
            <IconButton OpenNewTab="true" SmallSize="true" IconName="ant-design:github-outlined" ButtonText="Task List" ClickUrl="@URL.GitDeveloperRoomProject" />
        </ButtonRow>
        <TextHTML>
            Get started today. Tell us what category of work you're interested in.
            And we'll help you to work on tasks best suited to your needs. You can also view all ongoing task in GitHub.

            <div class="hstack gap-3 mt-3">
                <span style="font-size: 18px;background-color: #72ff7080;font-weight: 700;color: black;" class="py-1 px-3 border rounded-4">I like work related to...</span>
                <Icon IconName="flat-color-icons:advance" Size="55" />

                <select @bind="SelectedExperience" class="form-control" style="width:@GR.W255px; height:@GR.W37px;">
                    <option value="" selected>Make a choice...</option>
                    <option value="plainTextDocs">Video Documentation</option>
                    <option value="plainTextDocs">Image license supervisor</option>
                    <option value="plainTextDocs">Documentation in Plain Text</option>
                    <option value="htmlCssDocs">Documentation in HTML, CSS</option>
                    <option value="photoshopIllustrator">Adobe Illustrator or Photoshop</option>
                    <option value="mlTraining">ML pipeline &amp; AI model management</option>
                    <option value="azure">Azure, Google Cloud, AWS, etc...</option>
                    <option value="vedicAstrology">Vedic Astrology</option>
                    <option value="jsCode">JS Code</option>
                    <option value="pythonCode">Python Code</option>
                    <option value="cSharpCode">C# Code</option>
                    <option value="wasmCode">WebAssembly</option>
                    <option value="officeClerk">Office Clerk</option>
                    <option value="others">Others, not in this list</option>
                </select>
                <IconButton OnClickCallback="OnClickJoinUs" ButtonText="Join"></IconButton>
            </div>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Publish changes" IconName="flat-color-icons:multiple-inputs">
        <TextHTML>
            <p class="text-justify">
                Fork the repo, make your changes and push. Start with a simple draft, nothing complicated.
                Go with what you understand and how you wish to convey it.
                Once you've done this let us know. We will double check validity and upload to the cloud. Easy and simple.
            </p>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Office &amp; Factory" IconName="flat-color-icons:department">
        <ButtonRow>
            <IconButton OpenNewTab="true" SmallSize="true" IconName="logos:slack-icon" ButtonText="Visit Office" ClickUrl="@URL.SlackInviteURL" />
        </ButtonRow>
        <TextHTML>
            Our office is on <strong>Slack Street</strong> and the factory is located in <strong>GitHub Lane</strong>. Welcome to a company of the 21st century.
            We converse, discuss and share using Slack, it's free and easy to join. GitHub is used to manage, track and assign tasks to the team.
            Most importantly we use GitHub, to source control the code base up to deployment.
            You can join there also. All in all, we strive to keep VedAstro's office near to every team member's house.
            So developers can spend <strong>time &amp; energy</strong> todo creative work and not waste it on "<strong>getting to</strong>" work and finding parking.
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Member Benefit" IconName="flat-color-icons:manager">
        <TextHTML>
            <p>
                - The joy of serving something bigger than yourself.<br/>
                - The reason for existence fulfilled.<br />
            </p>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Team DNA" IconName="flat-color-icons:biotech">
        <TextHTML>
            <p>
                The advice we give to <strong>every member</strong> is the same advice we give to ourselves.
                Think of this as your own project & do what you think is best.
                <strong>Self motivated enthusiasm</strong> is the key. If you feel there is a better way of making a button appear, then <strong>just do it</strong>.
            </p>
            <p>
                If you run into technical trouble making the changes you want or don't know how to get started,
                just drop us a <BoldLink URL="@PageRoute.Contact">mail</BoldLink> or start an
                <BoldLink OpenInNewTab="true" URL="@URL.GitHubIssues">issue</BoldLink> in GitHub.
                And we will try our best to help you.
            </p>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Who's Boss?" IconName="game-icons:three-friends">
        <TextHTML>
            There is <strong>no boss</strong> or manager or supervisor or owner for VedAstro.
            This is a public, non-profit, "<strong>peer-2-peer project</strong>".
            All team members have equal rights. Nobody is going to tell you what todo.
            Be your own manager and <strong>work for the common good</strong> of the human race!
            We personally believe that every single VedAstro user is the boss, whom we work for.
        </TextHTML>
    </ArticleBlock>


    <ArticleBlock Title="Raise Awareness" IconName="twemoji:lotus">
        <TextHTML>

            <p>
                In a team without a head, a leader or a <strong>boss</strong>. One might wonder on how such a project
                could move forward in a meaningful direction without wasting resources. <strong>The answer is simple.</strong>
            </p>
            <p>
                <strong>Raise Awareness</strong>. It is the responsibility of every member to guide others and to take the effort
                to say a word of caution when another team member is going astray.
            </p>
            <p>
                Perhaps a team member is spending time and resources making a feature that was already
                implemented or has a very low ROI. In such a case, it is your job to "<strong>convince</strong>"
                this member in the error of his way. Remember "<strong>convince</strong>" not "<strong>order</strong>" people.
            </p>
            <p>
                Using this simple method, we have successfully done away with the need for managers and supervisors and bosses.
                When everybody plays their part, there is <strong>no need for overhead</strong>. In this manner, this project has far greater
                potential for progress in an efficient way. While leading the charge with innovation on all fronts.
            </p>
            <p>
                VedAstro's 9 years of progress against the test of Time in this way, <strong>speaks for it self</strong>.
            </p>


            <QuoteTextBlock Author="W.H. Auden" URL="@URL.WHAudenWiki">
                We are all here on earth to help others:<br />what on earth the others are here for,<br />I don't know.
            </QuoteTextBlock>
        </TextHTML>
    </ArticleBlock>



</div>



@code {

    private ElementReference houseNameSelector;
    private ElementReference planetNameSelector;

    public string SelectedExperience;


    private async Task OnClickJoinUs()
    {
        //get email from user via js sweet alert lib
        var emailFromAlert = await AppData.JsRuntime.PopupTextInput("Email me at...");

        //loading box show
        await _jsRuntime.ShowLoading();

        //add message to API Messages book
        await WebsiteTools.SendMailToAPI(emailFromAlert, $"Join Family > Tasks > {SelectedExperience}");

        //say thank you and will get back
        await _jsRuntime.ShowAlert("success", "Thank you", "we'll get back to you soon");
    }

}
