@page "/match"
@using Microsoft.AspNetCore.Components
@using Genso.Astrology.Library
@inject NavigationManager _navigation


<PageTitle>Find Marriage Match</PageTitle>

@if (_pageReady)
{

    <div>
        <label>Select Male</label>
        <select @bind="SelectedMale" class="form-control">
            @foreach (var male in MaleList)
            {
                <option value="@male.GetName()">@male.GetName() - @male.GetBirthDateTime().GetStdDateTimeOffset().Year</option>
            }
        </select>
    </div>
    <div>
        <label>Select Female</label>
        <select @bind="SelectedFemale" class="form-control">
            @foreach (var female in FemaleList)
            {
                <option value="@female.GetName()">@female.GetName() - @female.GetBirthDateTime().GetStdDateTimeOffset().Year</option>
            }
        </select>
    </div>

    <div style="margin-top: 50px" class="row">
        <button type="submit" @onclick="GetMatchReport" class="btn btn-primary">Submit</button>
    </div>

}


@code {

    //VARIABLES
    public List<Person> MaleList { get; set; } //data from URL not necessary provided
    public List<Person> FemaleList { get; set; } //data from URL not necessary provided
    public string? SelectedMale { get; set; }
    public string? SelectedFemale { get; set; }

    private bool _pageReady = false; //marks if the page ready to loaded


    protected override async Task OnInitializedAsync()
    {
        //get male list from api server & save it for later
        var rawMaleListXml = await ServerManager.ReadFromServer(ServerManager.GetMaleListAPI);
        MaleList = rawMaleListXml.Elements().Select(maleXml => Person.FromXml(maleXml)).ToList();

        //get female list from api server & save it for later
        var rawFemaleListXml = await ServerManager.ReadFromServer(ServerManager.GetFemaleListAPI);
        FemaleList = rawFemaleListXml.Elements().Select(femaleXml => Person.FromXml(femaleXml)).ToList();

        _pageReady = true;

        //refresh the page variables
        this.StateHasChanged();

    }

    private void GetMatchReport()
    {
        _navigation.NavigateTo($"matchreport/{SelectedMale}/{SelectedFemale}");
    }
}