@*
    Small component placed on page top
*@

<div class="vstack">
    <h1 class="fw-bold"><span style="margin-top: -10px;" class="iconify" data-icon="@IconName" data-width="@IconSize"></span> @Title</h1>
    <p class="fs-5 col-md-8" style="max-width: @AppData.MaxContentWidthPx;">@Description</p>
    @if (ButtonsRow != null)
    {
        @*flex wrap needed to make button wrap nicely in mobile*@
        <div class="hstack gap-4 d-flex flex-wrap">
            @ButtonsRow
        </div>
    }
    <hr />
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? IconName { get; set; }

    /// <summary>
    /// Default to 50
    /// </summary>
    [Parameter]
    public int? IconSize { get; set; } = 50;

    [Parameter]
    public RenderFragment? Description { get; set; }

    [Parameter]
    public RenderFragment? ButtonsRow { get; set; }
}
