@using VedAstro.Library
@attribute [Route(PageRoute.Donate)]

<PageTitle>Donate</PageTitle>

@* <PageTop ImageName="donate-banner.png"
         Title="Support us"
         DescriptionText="Help pay bills, maintain servers and improve the project. Contribute for the benefit of all people. Opportunity for good karma.">
</PageTop>
 *@

<PageTopSideImage ImageWidth="@GR.W157" ImageName="donate-banner.png"
                  Title="Crowdfunding"
                  DescriptionText="Help to improve &amp; speed up development of the project. Contribute for to improve the future vedic astrology." />



<div class="d-md-flex">

    @*CONTACT FORM*@
    <div class="me-5">
        <div class="vstack gap-3 me-5 mb-4" style="width:@GR.W352px;">

            @if (showKofi)
            {
                @*KO-FI WIDGET*@
                <div class="vstack" style="">
                    <iframe class="align-self-center border shadow rounded-4" id='kofiframe' src='@URL.KoFiDonateIframe' style="width: @GR.W412px; height: 557px;" title='vedastro'></iframe>
                </div>
            }
            @if (showStripeJPN)
            {
                @* JPN *@
                <stripe-buy-button buy-button-id="buy_btn_1OiG8ZJuwVWEHuj3UXbmBkzg"
                                   publishable-key="pk_live_51MfBvdJuwVWEHuj3uTQJ0hdZvml1X9MPmQQnvjABkJ4llLyx2XY8KgTttg5bG5mknT1xDK9hvbTup7BLa0EKgYnX00nbSoo7Hm">
                </stripe-buy-button>
            }
            @if (showStripeUSD)
            {
                @* USD *@
                <stripe-buy-button buy-button-id="buy_btn_1OiFvLJuwVWEHuj37W4h3TJp"
                                   publishable-key="pk_live_51MfBvdJuwVWEHuj3uTQJ0hdZvml1X9MPmQQnvjABkJ4llLyx2XY8KgTttg5bG5mknT1xDK9hvbTup7BLa0EKgYnX00nbSoo7Hm">
                </stripe-buy-button>
            }
            @if (showStripeEUR)
            {
                @* EUR *@
                <stripe-buy-button buy-button-id="buy_btn_1OgaoxJuwVWEHuj3UVpd4xe7"
                                   publishable-key="pk_live_51MfBvdJuwVWEHuj3uTQJ0hdZvml1X9MPmQQnvjABkJ4llLyx2XY8KgTttg5bG5mknT1xDK9hvbTup7BLa0EKgYnX00nbSoo7Hm">
                </stripe-buy-button>
            }
            @if (showStripeINR)
            {
                @* INR *@
                <div class="hstack">
                    <div class="vstack gap-3">
                        <div class="hstack gap-2" style="">
                            <img src="images/vedastro-upi-qr-code-kaladi-icici.png" class="" style="align-self: center;width: 242px;">
                            <img src="images/vedastro-phonepe-qr-code.png" class="" style="align-self: center;width: 242px;">
                        </div>
                        <div class="d-flex justify-content-center">
                            <IconButton ButtonText="I've paid via UPI" OnClickCallback="() => AppData.Go(PageRoute.ThankYou)"></IconButton>
                        </div>
                    </div>

                    <stripe-buy-button buy-button-id="buy_btn_1OiG3oJuwVWEHuj3NV3qJ1Yc" publishable-key="pk_live_51MfBvdJuwVWEHuj3uTQJ0hdZvml1X9MPmQQnvjABkJ4llLyx2XY8KgTttg5bG5mknT1xDK9hvbTup7BLa0EKgYnX00nbSoo7Hm"></stripe-buy-button>
                </div>

            }

        </div>
    </div>

</div>

@*SIDEBAR*@
<div class="mt-md-0 mt-4 me-md-5">
    <!--when small give at top-->
    <div class="hstack gap-0 gap-md-2">
        @*STACK BOXES ON RIGHT*@
        <InfoBox MaxWidth="365" FullWidth="@true" Title="Crypto" Description="Zero fees, instant and anonymous donation" IconName="cryptocurrency-color:btc" OnClickCallback="@(() => _jsRuntime.ScrollToDivById("ForCryptoGeeks"))" />
        <InfoBox MaxWidth="365" FullWidth="@true" Title="Patreon" Description="Monthly contribution via Patreon" IconName="logos:patreon" IsNewTabOpen="true" ClickUrl="@URL.PatreonPage" />
        <InfoBox MaxWidth="365" FullWidth="@true" Title="Gifts" Description="Send gifts from our wish list" IconName="fluent-emoji:wrapped-gift" OnClickCallback="@(() => _jsRuntime.ScrollToDivById("WishList"))" />
        @* <InfoBox FullWidth="@true" Title="Bank Transfer" Description="Send money via BIC/SWIFT transfer" IconName="noto-v1:bank" OnClickCallback="@(() => _jsRuntime.ScrollToDivById("BankDetails"))" /> *@
    </div>
</div>

@* ARTICLES BLOCKS *@
<hr />
<div class="vstack gap-3 mt-3" style="max-width:@GR.W667px;">

    <ArticleBlock Title="Why Donate?" IconName="emojione:convenience-store">
        <TextHTML>
            Donations help to keep this website's heart beating <strong>24/7</strong>💓 and to continually improve
            the project with new features and bug fixes. 1st priority goes to hosting costs.
            Currently, VedAstro is hosted in Microsoft Azure as a Static Web App which reduces running costs.
            With support from users we hope to diversify the hosting platform for a <strong>more stable & reliable</strong> service.
        </TextHTML>
    </ArticleBlock>

    <SubArticleBlock Title="Transparent Donations">
        Know exactly where your money is going.
        We try to keep the fund flow as transparent as possible.
        That's why you can choose to sponsor a specific thing
        like <strong>domain fees</strong> or hosting costs. Leave your choice in the message box.
    </SubArticleBlock>

    <SubArticleBlock Title="Programmer Costs">
        As of December 2022 more than <BoldLink URL="@URL.GitHub88000Lines">88,000 lines of code</BoldLink> was written for this project not including documentation.
        That's an impressive number. The more code there is, the more testing &amp; debugging that needs to be done. As such more programmer work hours are required.
        Every dollar donated <strong>goes a long way</strong> to help pay for this expenses.
    </SubArticleBlock>

    @* todo temp bank turned off *@
    <!--
    <ArticleBlock Title="Bank Transfer" IconName="noto-v1:bank">
        <TextHTML>
            <div id="BankDetails" class="hstack gap-3">
    @* id so can auto navigate here *@
    @*STACK BOXES ON RIGHT*@
                <InfoBox Title="India" IconName="twemoji:flag-india">
                    <DescriptionHTML>
                        <ul class="list-group" style="font-size: 15px;">
                            <li class="list-group-item">Method : <strong>NEFT</strong></li>
                            <li class="list-group-item">Bank : <strong>ICICI BANK LTD</strong></li>
                            <li class="list-group-item">Branch : <strong>MYLAPORE, CHENNAI</strong></li>
                            <li class="list-group-item">IFSC code : <strong>ICIC0002186</strong></li>
                            <li class="list-group-item">Account No.: <strong>2186-0100-0219</strong></li>
                        </ul>
                    </DescriptionHTML>
                </InfoBox>
                <InfoBox Title="Malaysia" IconName="twemoji:flag-malaysia">
                    <DescriptionHTML>
                        <ul class="list-group" style=" font-size: 15px; ">
                            <li class="list-group-item">BANK : <strong>Public Bank</strong></li>
                            <li class="list-group-item">BIC/SWIFT code : <strong>PBBEMYKL</strong></li>
                            <li class="list-group-item">Account No.: <strong>63-9872-3519</strong></li>
                        </ul>
                    </DescriptionHTML>
                </InfoBox>
            </div>
        </TextHTML>
    </ArticleBlock>
    -->

    <ArticleBlock Title="For Crypto Fans" IconName="cryptocurrency-color:btc">
        <TextHTML>
            <div id="ForCryptoGeeks" class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" @onmouseenter="@(() => WebLogger.Data("MouseOver: Bitcoin"))">
                    <div class="card text-center">
                        <img src="images/luno-btc-donate.png" class="card-img-top" style="align-self: center;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="me-3 iconify" data-icon="cryptocurrency:btc" data-width="25" data-height="25"></span>
                                Bitcoin
                            </h5>
                            <p class="card-text">3Ky3AXYvxTNUmJuGMGhX1Vqa4RZbhrFPbQ</p>
                        </div>
                    </div>
                </div>
                <div class="col" @onmouseenter="@(() => WebLogger.Data("MouseOver: Litecoin"))">
                    <div class="card text-center">
                        <img src="images/luno-ltc-donate.png" class="card-img-top" style="align-self: center;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="me-3 iconify" data-icon="cryptocurrency:ltc" data-width="25" data-height="25"></span>
                                Litecoin
                            </h5>
                            <p class="card-text">MV2Uot32vCT1KDWbMpDTZ5JMdrjJ3E8WfL</p>
                        </div>
                    </div>
                </div>
                <div class="col" @onmouseenter="@(() => WebLogger.Data("MouseOver: Ethereum"))">
                    <div class="card text-center">
                        <img src="images/luno-eth-donate.png" class="card-img-top" style="align-self: center;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="me-3 iconify" data-icon="cryptocurrency:eth" data-width="25" data-height="25"></span>
                                Ethereum
                            </h5>
                            <p class="card-text">0x92d275C0e511853baE90560a2928f784AEfE3144</p>
                        </div>
                    </div>
                </div>
            </div>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Wish List" IconName="fluent-emoji:wrapped-gift">
        <TextHTML>
            <div id="WishList" class="hstack gap-2">
                <div class="card" style="width: 18rem; cursor: pointer;" @onclick="OnClickTelescope">
                    <img src="images/wish-list-telescope-card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><strong>Auto Telescope:</strong> can improve the accuracy of the system to match the real world</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem; cursor: pointer;" @onclick="OnClickBook">
                    <img src="images/wish-list-books-card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><strong>Astro Books:</strong> can help add new vedic data from ancient books or records</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem; cursor: pointer;" @onclick="OnClickFanMail">
                    <img src="images/wish-list-santa-card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><strong>Fan Mail:</strong> receiving letters from users is like receiving gifts from an old friend</p>
                    </div>
                </div>

            </div>
        </TextHTML>
    </ArticleBlock>


    @* more option message *@
    <p class="align-self-center" style="color:@AppData.Grey; font-size: 14px; ">Don't see your preferred payment method? <a href="@PageRoute.Contact">Contact us</a></p>

</div>




@code {

    //always start with false, will be set true during init
    private bool showKofi = false;
    private bool showStripeJPN = false;
    private bool showStripeINR = false;
    private bool showStripeEUR = false;
    private bool showStripeUSD = false;

    private const string OfficeAddress = "7, Hala Pengkalan Timur 8A,<br/>Taman Pengkalan Puteri, 31650,<br/>Ipoh, Perak, MALAYSIA";


    protected override async Task OnInitializedAsync()
    {
        //check if from India, then show different payment option
        showStripeINR = AppData.ClientLocation.Name().ToLower().Contains("india");
        showStripeJPN = AppData.ClientLocation.Name().ToLower().Contains("japan");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("germany");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("spain");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("france");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("italy");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("netherlands");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("belgium");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("portugal");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("greece");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("ireland");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("cyprus");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("malta");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("austria");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("estonia");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("finland");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("latvia");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("lithuania");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("luxembourg");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("slovakia");
        showStripeEUR = AppData.ClientLocation.Name().ToLower().Contains("slovenia");

        //if all above is false then show USD as default
        showStripeUSD = (!showStripeINR) && (!showStripeJPN) && (!showStripeEUR);

        //little log
        //await WebsiteTools.SendMailToAPI("User in Donate Page from", AppData.ClientLocation.Name());
    }

    private async Task OnClickBankTransfer()
    {
        //get email from user via js sweet alert lib
        var emailFromAlert = await AppData.JsRuntime.PopupTextInput("We will send bank details via email");

        //loading box show
        _jsRuntime.ShowLoading();

        await WebsiteTools.SendMailToAPI("Bank Details Request", emailFromAlert);

        //say thank you and will get back
        await _jsRuntime.ShowAlert("success", "Thank you", "we'll get back to you soon");


    }

    private async Task OnClickTelescope()
    {
        await _jsRuntime.ShowAlert("success", "Thank you", "for wanting to donate. Now redirecting to safe and verified buy page.");

        //send user to telescope page on new tab
        AppData.Go(url: URL.TelescopeBuyPage, newTab: true);

        //then on user return from buy page, address is shown
        var address = $"Shipping Address:<br/>{OfficeAddress}";
        await _jsRuntime.ShowAlert("success", "Thank you for gifts", address);

    }

    private async Task OnClickBook()
    {

        //then on user return from buy page, address is shown
        await _jsRuntime.ShowAlert("success", "Send books to:", OfficeAddress);

        // await _jsRuntime.ShowAlert("success", "Thank you", "for wanting to donate. Now redirecting to safe and verified buy page.");

        // //send user to telescope page on new tab
        // AppData.Go(url: URL.LaptopBuyPage, newTab: true);

        // //then on user return from buy page, address is shown
        // var address = $"Shipping Address:<br/>{OfficeAddress}";
        // await _jsRuntime.ShowAlert("success", "Thank you for gifts", address);

    }

    private async Task OnClickFanMail()
    {

        //then on user return from buy page, address is shown
        await _jsRuntime.ShowAlert("success", "Send love letters to:", OfficeAddress);

    }

}
