


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VedAstro</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="nav-pills flex-column" style="min-width: max-content;">
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="" Match="NavLinkMatch.All">
                <span class="iconify" data-icon="ant-design:home-twotone" data-width="30"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.QuickGuide">
                <span class="iconify" data-icon="cil:book" data-width="30"></span> Guide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.AskAstrolger">
                <span class="iconify" data-icon="wpf:ask-question" data-width="30"></span> Ask Astrologer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.Donate">
                <span class="iconify" data-icon="iconoir:donate" data-width="30"></span> Donate
            </NavLink>
        </div>
        <div @ref="_personListHolder" class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.PersonList">
                <span class="iconify" data-icon="fluent:people-list-20-filled" data-width="30"></span> Person List
            </NavLink>
        </div>
        <div @ref="_personListHolder" class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.CalculatorList">
                <span class="iconify" data-icon="bi:calculator" data-width="30"></span> Calculators
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.Contact">
                <span class="iconify" data-icon="fluent:chat-mail-20-filled" data-width="30"></span> Contact
            </NavLink>
        </div>
        <div @ref="_personListHolder" class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.About">
                <span class="iconify" data-icon="akar-icons:info" data-width="30"></span> About
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <SignInButton />
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;
    private bool _accountNavIsVisible = false; //default not visible
    private ElementReference _personListHolder;


    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    /// <summary>
    /// Event handler to toggle account options on and off
    /// </summary>
    private async Task OnClickAccountNav(MouseEventArgs obj)
    {
        //if visible hide it
        if (_accountNavIsVisible)
        {
            await _jsRuntime.Hide(_personListHolder);
            _accountNavIsVisible = false;
        }
        //if hidden show it
        else
        {
            await _jsRuntime.Show(_personListHolder);
            _accountNavIsVisible = true;
        }
    }

}
