<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Vedic Astrology</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="nav-pills flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="" Match="NavLinkMatch.All">
                <span class="iconify" data-icon="bxs:home" data-width="30"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.QuickGuide">
                <span class="iconify" data-icon="cil:book" data-width="30"></span> Guide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.Donate">
                <span class="iconify" data-icon="iconoir:donate" data-width="30"></span> Donate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="@PageRoute.Contact">
                <span class="iconify" data-icon="fluent:chat-mail-20-filled" data-width="30"></span> Contact
            </NavLink>
        </div>

        @*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoute.Muhurtha">
            <span class="oi oi-list" aria-hidden="true"></span> Muhurtha
            </NavLink>
            </div>
        *@

@*        <hr style="
                   color: white;
                   height: 2px;
               ">
*@
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoute.Match">
                <span class="oi oi-people" aria-hidden="true"></span> Match
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoute.Dasa">
                <span class="oi oi-list" aria-hidden="true"></span> Dasa
            </NavLink>
        </div>
*@        @*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoute.Horoscope">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Horoscope
            </NavLink>
            </div>
        *@    @*    <div class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoute.LocalMeanTime">
                <span class="oi oi-person" aria-hidden="true"></span> Local Mean Time
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoute.SunRiseSetTime">
                <span class="oi oi-person" aria-hidden="true"></span> Sunrise/Sunset Time
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <SignInButton />
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
