@attribute [Route(PageRoute.Journal)]
@attribute [Route(PageRoute.JournalParam)]
@using VedAstro.Library


<PageTitle>@_pageTitle</PageTitle>

<PageTop ImageName="journal-banner-2.png"
         Title="Astro Journal"
         DescriptionText="Record your life events to understand the astrological reason behind them.">
</PageTop>



<div class="d-md-flex justify-content-between">
    @*SELECTOR*@
    <div class="me-5">
        <div class="vstack gap-3">
            <PersonSelectorBox @ref="_peopleSelectorBox" />
            <div class="d-flex justify-content-between">
                <IconButton SmallSize="true" IconName="uim:process" ButtonText="Show Journal" OnClickCallback="ShowButtonClicked" />
                <IconButton Color="success" SmallSize="true" IconName="zondicons:add-solid" ButtonText="Add Event" OnClickCallback="AddButtonClicked" />
            </div>
        </div>
    </div>

    @*SIDEBAR*@
    <div class="mt-md-0 mt-4 me-md-5">
        <!--when small give at top-->
        <InfoBox MaxWidth="@GR.W412" Title="Quick Tip" IconName="flat-color-icons:idea">
            <DescriptionHTML>
                After updating your journal, goto <BoldLink URL="@PageRoute.LifePredictor">Life Predictor</BoldLink>,
                to view them with astrological influence.
            </DescriptionHTML>
            <ImageHTML>
                <img class="img-thumbnail" width="@GR.W412px" src="images/journal-example-life-hitler.png" />
            </ImageHTML>
        </InfoBox>
    </div>
</div>

@*divider*@
<hr />

@*list that will be shown after calculate*@
<div class="vstack gap-2 p-2" style="@(_isReady?"":"display:none;")">

    @*LIST OF PREDICTIONS*@
    <LifeEventViewer @ref="lifeEventViewer" />

</div>




@code {


    /// <summary>
    /// Param used in URL to set Person ID via URL
    /// </summary>
    [Parameter]
    public string PersonIdUrl { get; set; } = "";

    private string _pageTitle = "Journal"; //default
    private LifeEventViewer lifeEventViewer;

    private string _searchInput = "";
    private Person _selectedPerson;
    private PersonSelectorBox? _peopleSelectorBox;

    private bool _isReady = false;


    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if parameter has been set then autoload person data as
        //though person was selected and calculate was clicked
        if (PersonIdUrl != null && firstRender)
        {
            await _jsRuntime.ShowLoading();

            //programmatically select the person
            await _peopleSelectorBox.SetPerson(PersonIdUrl);

            //start the same process as show button click
            await ShowButtonClicked();

            //needed to see updates because any changes in OnAfterRender
            //have to be manually set
            StateHasChanged();

            _jsRuntime.HideLoading();
        }
    }



    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█


    private async Task ShowButtonClicked()
    {
        await _jsRuntime.ShowLoading();

        //only continue if passed input field validation
        if (!await IsValidationPassed()) { return; }

        //hide data while loading, only after validation
        _isReady = false;

        //get person from person dropdown
        _selectedPerson = await _peopleSelectorBox.GetSelectedPerson();

        //only set url if not already set
        //note:this improves UX, as links can lead faster to data
        PersonIdUrl = _selectedPerson.Id; //save local copy
        var urlWithId = Path.Combine(PageRoute.Journal, PersonIdUrl);
        AppData.Go(urlWithId); //does not reload page since same URL

        //life events
        await lifeEventViewer.SetData(_selectedPerson);

        //put person name into tab title for easy multi-tabbing
        _pageTitle = $"Journal | {_selectedPerson.Name}";

        _isReady = true;

        //close loading box
        _jsRuntime.HideAlert();

    }


    private async Task AddButtonClicked()
    {
        await _jsRuntime.ShowLoading();

        //only continue if passed input field validation
        if (!await IsValidationPassed()) { return; }

        //sometimes, person is selected from memory, but not in URL
        //in such case, pretend button show button is clicked
        //updates all the needed values including person ID in URL
        if (string.IsNullOrEmpty(PersonIdUrl)) { await ShowButtonClicked(); }

        //create new ID will auto be detected on editor page as new
        var newId = Tools.GenerateId();
        AppData.Go(url: $"{PageRoute.JournalEditor}/{PersonIdUrl}/{newId}", rememberMe: true);
    }


    /// <summary>
    /// Checks if validation of all input fields
    /// </summary>
    private async Task<bool> IsValidationPassed()
    {
        //TEST 1 : select person name
        if (!_peopleSelectorBox.IsPersonSelected)
        {
            //mark invalid & alert user
            await _jsRuntime.ShowAlert("error", AlertText.SelectName, AlertText.FunnyPleaseSelectText("Person"));
            return false;
        }

        //if control reaches here than, it's valid
        return true;

    }


    private void SearchButtonClicked()
    {
        Console.WriteLine("TODO");
    }


}
