@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq

<div @ref="ElementReference" class="py-2"> @*simple log @onmouseenter="@(() => WebLogger.Data($"READ ARTICLE : {Title}"))"*@

    <IconTitle TitleHTML="@TitleHTML" IconSize="@IconSize" Title="@Title" IconName="@IconName" TitleHolder="h4">
        <ButtonRow>@ButtonRow</ButtonRow>
    </IconTitle>
    <p class="@TextClass" style="@AppData.DescriptionFont font-size: 18px;line-break: auto;">
        @TextHTML
    </p>

</div>

@code {


    /// <summary>
    /// Title text, placed in heading
    /// </summary>
    [Parameter]
    public string TextClass { get; set; } = "";
    /// <summary>
    /// Title text, placed in heading
    /// </summary>
    [Parameter]
    public string Title { get; set; } = "";

    /// <summary>
    /// Icon placed nicely before title
    /// </summary>
    [Parameter]
    public string IconName { get; set; } = "";

    /// <summary>
    /// Default 38
    /// </summary>
    [Parameter]
    public int IconSize { get; set; } = AppData.DefaultIconSize;


    /// <summary>
    /// This will be placed in side P tag, p tag not needed
    /// </summary>
    [Parameter]
    public RenderFragment? TextHTML { get; set; }

    /// <summary>
    /// tit le in HTML
    /// </summary>
    [Parameter]
    public RenderFragment? TitleHTML { get; set; }

    /// <summary>
    /// buttons next to title
    /// </summary>
    [Parameter]
    public RenderFragment? ButtonRow { get; set; }


    /// <summary>
    /// reference to the main HTML element for direct manipulation
    /// </summary>
    public ElementReference ElementReference { get; set; }

}
