@*⠀⠀⠀⠀⠀⠀⠀⢠⣶⣿⣶⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢀⣴⣾⣶⣄⠘⢿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠈⢿⣿⣿⣿⣷⣄⠙⢿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠙⢿⣿⣿⣿⣷⣄⠙⢿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⣷⣄⠙⢿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⣿⣾⣿⣿⣿⠿⠿⠓⢀⣀⣠⣤⣤⣄⠀⠀⠀
⠀⣀⣤⡀⠀⠀⢀⣤⣶⣤⡙⢿⣿⣿⣿⡟⣩⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀
⢸⣿⣿⣿⣦⡀⠸⣿⣿⣿⣿⣦⡙⢿⣿⡇⣿⣿⣿⣿⣿⣿⠿⠿⠿⢿⣿⣿⣿⡆
⠈⠻⣿⣿⣿⣿⣦⡉⢿⣿⣿⣿⣿⣦⡙⢿⣬⣉⣩⣭⣤⣴⣶⣿⣿⣿⣿⣿⣿⣧
⠀⠀⠈⠻⣿⣿⣿⣿⣦⡉⠻⣿⣿⣿⣿⣦⡙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟
⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣷⣍⠻⣿⣿⣿⠇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇
⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣷⣬⣭⣥⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⠿⣿⣿⣿⡿⠿⠿⠛⠉⠀⠀⠀⠀⠀⠀
KEEP IT REAL
*@

@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq
@using System.Collections
@using System.Timers

<div @ref="mainElementRef" class="hstack gap-2 @ExtraClass">
    @*Component shows combo box with people list*@
    <div class="btn-group" style="width: @GR.W412px;">
        @* DROPDOWN BUTTON *@
        <button type="button" @onclick="OnClickTrigger" style="text-align-last: center;font-size: 16px; font-weight: 500;" class="btn dropdown-toggle btn-outline-primary text-start" data-bs-toggle="dropdown">
            @FormattedMethodName
        </button>

        @* DROPDOWN SECTION *@
        <ul class="dropdown-menu ps-2 pe-3" style="height: @GR.W412px; width: @GR.W412px; overflow-y: scroll; overflow-x: clip;">

            @* SEARCH *@
            <div class="hstack gap-2">
                <input id="APISelector-SearchInputElement" @ref="_searchInput" type="text" class="form-control ms-0 mb-2 ps-3" placeholder="Search...">
                <Icon ExtraClass="mb-2" ExtraStyle="cursor: pointer;" TooltipText="View List" IconName="pepicons-pop:list" OnClickCallback="@(() => AppData.Go(PageRoute.APICallList))" />
            </div>
            
            @* LIST OF METHODS *@
            <div id="APISelector-AllMethodInfoHolder" >
                @foreach (var apiMethod in EventTagListALL)
                {
                    @* NOTE: method name as class used to show/hide *@
                    <li class="@apiMethod.ToString() dropdown-item d-flex gap-2 w-100" @onclick="@(() => OnClickMethodName(apiMethod))" style="cursor: pointer;">
                    <span style=" font-size: 16px; font-weight: 500; ">@(Format.FormatName(apiMethod.ToString()))</span>
                        <IconTooltip Opacity="0.3" Interactive="false" ShowOnHover="true" Size="16" TooltipText="@apiMethod.ToString()" SmallIcon="true" />
                    </li>
                }
            </div>

            @* LOADING ICON *@
            @* loading icon when list is being made, no loading popup because reduces user UX *@
            <div id="APISelector-LoadingIconHolder"  class="d-flex flex-column align-items-center mt-5">
                <strong>Loading...</strong>
                <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>


        </ul>
    </div>

</div>


@code {

    public List<OpenAPIMetadata> CustomAllMethodList { get; set; } = new List<OpenAPIMetadata>(); //set empty list so can detect

    /// <summary>
    /// add extra styles to SVG icon parent div
    /// </summary>
    [Parameter]
    public string ExtraClass { get; set; } = "";

    private ElementReference mainElementRef;


    public void Show() { _jsRuntime.Show(mainElementRef); StateHasChanged(); }

    public void Hide() { _jsRuntime.Hide(mainElementRef); StateHasChanged(); }

    /// <summary>
    /// This delay helps to wait for user to finish typing before starting to render list
    /// reduces lag and makes for better UX
    /// </summary>
    private static Timer _onKeyUpWaitTimer = new(255);

    //data used to track search timer
    private static bool _timerInitialized = false;
    private static bool _isShow = true;
    private static bool _searchIsRunning = false;

    private ElementReference _resultsBox;
    private ElementReference _loadingBox;

    /// <summary>
    /// Name of selected method to show
    /// </summary>
    private string FormattedMethodName { get; set; }   //used to detect if selected

    [Parameter]
    public string DefaultMessage { get; set; } = "Make a choice...";  //used to detect if selected

    /// <summary>
    /// only this way of marking works
    /// </summary>
    private bool _isReady = false;

    private ElementReference _searchInput;

    /// <summary>
    /// list that is shown to user and is changed by search
    /// </summary>
    //private List<OpenAPIMetadata?> MethodListFiltered { get; set; } = new();

    public EventTag? SelectedEnum { get; set; } = null;

    private List<EventTag> EventTagListALL = new();

    /// <summary>
    /// Event fired when selection of method is changed
    /// </summary>
    public event EventHandler OnChangeSelectEventTag;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //convert data to format understood by library
            //extract out name and all search text
            //so that can be used to show and hide divs directly
            var methodInfoObjects = new List<object>();
            foreach (var metadata in EventTagListALL)
            {
                var package = new
                {
                    name = metadata.ToString(),
                    description = metadata.ToString()
                };

                methodInfoObjects.Add(package);
            }

            //send all search text for creating an index by the special JS search library (FlexSearch)
            _jsRuntime.InvokeVoidAsync(JS.InitializeSearchForAPISelector, methodInfoObjects);

        }
    }


    protected override async Task OnInitializedAsync()
    {
        //hide display
        _isReady = false;

        FormattedMethodName = DefaultMessage; //init default message since can't direct

        //NOTE: raw info about calculators is converted to hard data package, to speed up rendering on auto search
        //if custom list specified use that else default to all from Open API
        EventTagListALL = new List<EventTag>((EventTag[])Enum.GetValues(typeof(EventTag)));

        //show data on display
        _isReady = true;
    }

    /// <summary>
    /// checks if OnChangeSelectMethod is not null (meaning it has at least one subscriber)
    /// </summary>
    public void RaiseOnChangeSelectEventTag()
    {
        OnChangeSelectEventTag?.Invoke(this, EventArgs.Empty);
    }

    /// <summary>
    /// Return true if drop down is selected, else false
    /// </summary>
    public bool IsSelected() => FormattedMethodName != DefaultMessage && !string.IsNullOrEmpty(FormattedMethodName);

    /// <summary>
    /// resets selected method as though not selected
    /// </summary>
    public void Reset()
    {
        //set value for reference
        SelectedEnum = null;
        FormattedMethodName = DefaultMessage;

        //fire event, so parent listening can update other elements
        RaiseOnChangeSelectEventTag();

        //needed to make change appear
        StateHasChanged();
    }
    
    /// <summary>
    /// if not selected will return empty
    /// </summary>
    public string GetSelectedMethodName() => SelectedEnum?.ToString() ?? "";



    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    /// <summary>
    /// when a method name in tooltip drop down menu is clicked
    /// </summary>
    private void OnClickMethodName(EventTag eventTag)
    {
        //set value for reference
        SelectedEnum = eventTag;
        FormattedMethodName = Format.FormatName(SelectedEnum.ToString());

        //fire event, so parent listening can update other elements
        RaiseOnChangeSelectEventTag();

        //needed to make change appear
        StateHasChanged();
    }

    
    /// <summary>
    /// Checks if validation of all input fields
    /// </summary>
    public async Task<bool> IsValidationPassed()
    {
        //TEST 1 : select calculator
        if (!IsSelected())
        {
            //mark invalid & alert user
            await _jsRuntime.ShowAlert("error", "Select a calculator!", AlertText.FunnyPleaseSelectText("Calculator"));
            return false;
        }

        //if control reaches here than, it's valid
        return true;

    }


   

    /// <summary>
    /// When main button is clicked to trigger auto focus to search bar
    /// </summary>
    private void OnClickTrigger()
    {
        _searchInput.FocusAsync();
    }

    private async Task OnClickSuggestNewApi()
    {
        //get suggestion from user via js sweet alert lib
        var newApiDesc = await AppData.JsRuntime.PopupTextInput("Suggest a new API Call", "textarea", "name or describe");

        //loading box show
        await _jsRuntime.ShowLoading();

        //if empty or nothing more than 3 chars than ask user if is awake
        var isInvalidInput = string.IsNullOrEmpty(newApiDesc) || newApiDesc.Length < 3;

        if (isInvalidInput)
        {
            var msg = "You clicked <strong>Add Suggestion</strong> and then added <strong>nothing</strong>. Please try again...";
            await _jsRuntime.ShowAlert("question", $"No suggestions, {AlertText.RandomNoun()}?", msg);
        }
        else
        {
            //add message to API Messages book
            await WebsiteTools.SendMailToAPI( "API Suggestion", $"Add new API : {newApiDesc}");

            //say thank you and will get back
            var msg = "<iconify-icon icon=\"noto:love-letter\"></iconify-icon> <a target=\\\"_blank\\\" style=\\\"text-decoration-line: none;\\\" href=\\\"https://vedastro.org/Donate/\\\" class=\\\"link-primary fw-bold\\\">Fund</a> this feature for faster development";
            await _jsRuntime.ShowAlert("success", "We will add soon!", msg);
        }

    }

    public void Focus()
    {
        mainElementRef.FocusAsync();
    }

    //programatically set the API, as though selected by dropdown
    // public void SetSelectedMethod(OpenAPIMetadata selected)
    // {
    //     OnClickMethodName(selected);
    // }

}
