@namespace Website.Pages
@using VedAstro.Library
@using System.Xml.Linq
@using Newtonsoft.Json.Linq
@using System.Text


<div style="margin-top:@GR.W60px; ">
    <hr>
    <div @ref="MainElement" id="EventsChartMainElement" class="vstack gap-1" style="display: none;">

    @* BUTTON ROW *@
    <div class="hstack gap-2 mb-2">
        <IconButton SmallSize="true" IconName="icon-park-outline:full-screen-one" TooltipText="Maximize to view better" OnClickCallback="OnClickMaximize"  TooltipPosition="top" />
        <IconButton SmallSize="true" IconName="iconamoon:zoom-in" TooltipText="Zoom In" OnClickCallback="OnClickZoomIn"  TooltipPosition="top" />
        <IconButton SmallSize="true" IconName="iconamoon:zoom-out" TooltipText="Zoom Out" OnClickCallback="OnClickZoomOut" TooltipPosition="top"  />
        <IconButton SmallSize="true" IconName="bx:hide" TooltipText="Show/Hide" OnClickCallback="@(() => _jsRuntime.FunFeaturePopUp("ShowHideEventsChart"))" TooltipPosition="top"  />
        <IconButton SmallSize="true" IconName="fluent:highlight-16-filled" TooltipText="Highlight events" DropDownWidthPx="@GR.W255px" TooltipPosition="top" >
            <DropDownList>
                <div class="d-flex flex-wrap gap-1">
                    @foreach (var eventNameKeyword in SelectedHighlightDictionary.Keys)
                    {
                        <div style="width: @GR.W97px; margin-left: 10px;" class="form-check">
                            <input @onclick="@(() => OnClickHighlightKeyword(eventNameKeyword))" style="width: 20px; height: 20px;" class="form-check-input" type="checkbox" id="@eventNameKeyword">
                            <label class="form-check-label" for="@eventNameKeyword">
                                @eventNameKeyword
                            </label>
                        </div>
                    }
                </div>
            </DropDownList>
        </IconButton>
        <IconButton SmallSize="true" IconName="logos:google-calendar" TooltipText="Add to Google Calendar" OnClickCallback="OnClickAddToGoogleEvents" TooltipPosition="top"  />
        <IconButton SmallSize="true" IconName="material-symbols:download" TooltipText="Download as SVG image file" OnClickCallback="OnClickSaveChartSvg" TooltipPosition="top"  />
        <IconButton SmallSize="true" IconName="ic:round-print" TooltipText="Print" OnClickCallback="@(() => _jsRuntime.FunFeaturePopUp("PrintEventsChart"))" TooltipPosition="top"  />
        <IconButton SmallSize="true" IconName="ri:bookmark-3-fill" TooltipText="Bookmark" OnClickCallback="OnClickBookmarkChart" TooltipPosition="top"  />
        <IconButton SmallSize="true" IconName="tabler:share-2" TooltipText="Share"  TooltipPosition="top" >
            <DropDownList>
                <li>
                    <a class="dropdown-item hstack gap-1" @onclick="@(() => _jsRuntime.FunFeaturePopUp("ShareEmailEventsChart"))">
                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="ic:outline-attach-email" />
                        <span>Email PDF</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item hstack gap-1" @onclick="@(() => WebsiteTools.ShareCurrentPageOnFacebook())">
                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="uil:facebook" />
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item hstack gap-1" @onclick="@(() => Website.AppData.Go(URL.Instagram, newTab: true))">
                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="uil:instagram" />
                        <span>Instagram</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item hstack gap-1" @onclick="@(() => Website.AppData.Go(URL.Twitter, newTab: true))">
                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="uil:twitter" />
                        <span>Twitter</span>
                    </a>
                </li>
            </DropDownList>
        </IconButton>
        <IconButton SmallSize="true" TooltipText="Copy API" IconName="ph:code-fill" OnClickCallback="OnClickCopyAPICall" TooltipPosition="top" />
        <IconButton SmallSize="true" IconName="gravity-ui:person" TooltipText="Person" ButtonText="Person"  TooltipPosition="top" >
            <DropDownList>
                <li>
                    <a class="dropdown-item hstack gap-1" @onclick="@(() => AppData.Go($"{PageRoute.Horoscope}/{SelectedPerson.Id}", newTab: true))" >
                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="fluent:book-star-20-filled"/>
                        <span>Horoscope</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item hstack gap-1" @onclick="@(() => AppData.Go($"{PageRoute.Journal}/{SelectedPerson.Id}", newTab: true))">
                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="mdi:calendar-outline"/>
                        <span>Journal</span>
                    </a>
                </li>
            </DropDownList>
        </IconButton>


    </div>

    @*
    dark mode is disabled for chart with mix-blend-mode
    note: extra logic to remove filter in normal mode
    *@
    <div @ref="eventsChartSvgHolder" class="container-xxl" id="EventsChartSvgHolder" style="margin-left: -11px; @(AppData.DarkMode?"mix-blend-mode: difference;":"")"></div>

    @*bottom chart options row*@

</div>

@* PLACE HOLDER MESSAGE *@
@* hide when loaded *@
<div @ref="PlaceholderMessageHolder" >
    <div class="d-flex justify-content-center">
        @* important needed to override flex *@
        <span class="" style="color: @AppData.Grey; font-size: 14px;">Chart will appear <strong>here</strong> after <strong>calculate</strong></span>
    </div>
</div>


    <hr />
</div>




@code {


    //█▀▄ ▄▀█ ▀█▀ ▄▀█
    //█▄▀ █▀█ ░█░ █▀█
    
    /// <summary>
    /// max width of chart for fit on page
    /// </summary>
    public int MaxWidth { get; set; } = 940;

    /// <summary>
    /// Reference to main holder div
    /// </summary>
    public ElementReference MainElement;
    public ElementReference eventsChartSvgHolder;

    public ElementReference PlaceholderMessageHolder { get; set; }

    private string PdfFileName = "";

    /// <summary>
    /// Id of chart that is shown
    /// </summary>
    public string CurrentChartId { get; set; }

    //set when show is called
    public Person SelectedPerson { get; set; }
    public TimeRange SelectedTimeRange { get; set; }
    public List<EventTag> SelectedEventTags { get; set; }
    public ChartOptions SelectedChartOptions { get; set; }


    public string _timePreset { get; set; }
    public string _eventPreset { get; set; }
    public string SelectedAyanamsaName { get; set; }

    ElementReference _eventsChartSvgHolder;
    public Time StartTime { get; set; }
    public Time EndTime { get; set; }
    public TimeRange TimeRange => new TimeRange(StartTime, EndTime);

    private IconButton _showButton;
    private IconButton _hideButton;
    private IconButton _mobileViewButton;

    /// <summary>
    /// Raw SVG string of the latest chart
    /// </summary>
    string _finalSvg;

    /// <summary>
    /// When true html is rendered
    /// </summary>
    bool _isReady = false;

    public string RawChartSvg { get; set; }


    public Dictionary<string, bool> SelectedHighlightDictionary { get; set; } = new Dictionary<string, bool>();



    //█▀█ █░█ █▄▄ █░░ █ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▄█ █▄█ █▄▄ █ █▄▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    protected override async Task OnInitializedAsync()
    {

        InitHighLightCheckboxDictionary();

    }

    private void InitHighLightCheckboxDictionary()
    {
        //checkboxes for 12 houses
        foreach (var houseName in House.AllHouses)
        {
            var formatedHouseName = Format.FormatName(houseName.ToString());
            SelectedHighlightDictionary.Add(formatedHouseName, false);
        }

        //checkboxes for 9 planets
        foreach (var planetName in PlanetName.All9Planets)
        {
            var formatedPlanetName = Format.FormatName(planetName.ToString());
            SelectedHighlightDictionary.Add(formatedPlanetName, false);
        }

    }

    private void ResetHighLightCheckboxDictionary()
    {
        //checkboxes for 12 houses
        foreach (var houseName in House.AllHouses)
        {
            var formatedHouseName = Format.FormatName(houseName.ToString());
            SelectedHighlightDictionary[formatedHouseName] = false;
        }

        //checkboxes for 9 planets
        foreach (var planetName in PlanetName.All9Planets)
        {
            var formatedPlanetName = Format.FormatName(planetName.ToString());
            SelectedHighlightDictionary[formatedPlanetName] = false;
        }

    }


    /// <summary>
    /// Sets the data that is processed and fill the content
    /// - Parent element calls here to start display chart process
    /// </summary>
    public async Task<bool> ShowChart(Person person, TimeRange timeRange, List<EventTag> inputedEventTags, ChartOptions chartOptions, string ayanamsaName, double daysPerPixelRaw)
    {
        //stop if empty person
        if (Person.Empty.Equals(person)) { throw new InvalidOperationException("PERSON CAN'T BE EMPTY!!!"); }

        try
        {
            //close previous if any
            _isReady = false;

            //saved to be accessed later
            SelectedPerson = person;
            SelectedAyanamsaName = ayanamsaName;
            SelectedTimeRange = timeRange;
            SelectedEventTags = inputedEventTags;
            SelectedChartOptions = chartOptions;

            //get raw SVG chart from API as string
            RawChartSvg = await AppData.API.EventsChart.GetEventsChart(person, timeRange, inputedEventTags, daysPerPixelRaw, chartOptions, SelectedAyanamsaName);

            //bring chart to live with EventsChart.js
            await _jsRuntime.InvokeVoidAsync(JS.ChartFromSVG, RawChartSvg);

            //get latest dark mode setting
            //so that event chart is not lost in darkness
            await AppData.UpdateDarkMode(_jsRuntime);

            //play sound for better ux
            _jsRuntime.PlayDoneSound();

            //render html
            _isReady = true;

            //make visible & hide place holder
            _jsRuntime.Show(MainElement);
            _jsRuntime.Hide(PlaceholderMessageHolder);

            //reset highlight (planet/house) checkbox from previous if any
            ResetHighLightCheckboxDictionary();

            //needed to make save button appear again
            StateHasChanged();

            //return true for all went well
            return true;
        }
        catch (Exception e)
        {
            _jsRuntime.ShowAlert("error", "Something broke!", "Please refresh page and try again.");
            WebLogger.Error(e);
            Console.WriteLine(e.Message);

            //return true for failure
            return false;

        }

    }



    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█


    /// <summary>
    /// Generates the needed url and opens new tab with it
    /// </summary>
    /// <returns></returns>
    private async Task OnClickMobileViewButton()
    {
        //generate url
        var personId = SelectedPerson.Id;
        var eventPreset = _eventPreset;
        var timePreset = _timePreset;
        var url = $"{AppData.URL.ApiUrlDirect}/chart/{personId}/{eventPreset}/{timePreset}";

        _jsRuntime.OpenNewTab(url);
    }

    private async Task OnClickCopyChartLink()
    {
        //generate the url
        var url = AppData.URL.ApiUrlDirect + $"/savedchart/{CurrentChartId}";

        //use js to transfer to clipboard
        await _jsRuntime.InvokeVoidAsync(JS.CopyToClipboard, url);

        //let user know link coppied
        await _jsRuntime.ShowAlert("success", $"Chart Link Copied!", false, 2600);
    }

    //todo use for lite viewer
    private async Task OnClickSaveChartLocal()
    {
        await _jsRuntime.ShowLoading();

        //check if number of charts exceed 3 (real 4), as that seems to be chrome limit
        var savedChartCount = (await WebsiteTools.GetSavedChartNameList()).Count;
        if (savedChartCount > 3)
        {
            await _jsRuntime.ShowAlert("success", $"Saved charts is full!", false, 2600);
        }

        //a name to uniquely identify this chart
        var chartName = $"{SelectedPerson.Id}|{StartTime.StdYear()}-{EndTime.StdYear()}|Chart|{SelectedPerson.Name}"; //"Chart" important used later to find
        await _jsRuntime.SetProperty(chartName, _finalSvg);

        _jsRuntime.HideLoading();

        //show message to user
        await _jsRuntime.ShowAlert("success", $"Chart saved successfully!", false, 2600);

    }


    private async Task OnClickShareToEmail()
    {
        //todo not yet done
        try
        {
            //poll till get
            int maxWidth = 940;
            var algorithmFuncsList = new List<AlgorithmFuncs>() { Algorithm.General };
            var summaryOptions = new ChartOptions(algorithmFuncsList);
            string chartSvg = await AppData.API.EventsChart.GetEventsChart(SelectedPerson, SelectedTimeRange, SelectedEventTags, maxWidth, summaryOptions,SelectedAyanamsaName);

            //control reaches here than already complete
            await _jsRuntime.InvokeVoidAsync(JS.ChartFromSVG, chartSvg);

            //get latest dark mode setting
            //so that event chart is not lost in darkness
            await AppData.UpdateDarkMode(_jsRuntime);

            //play sound for better ux
            _jsRuntime.PlayDoneSound();

            //render html
            _isReady = true;

            //needed to make save button appear again
            StateHasChanged();
        }
        catch (Exception e)
        {
            WebLogger.Error(e);
            Console.WriteLine(e.Message);
        }
    }

    /// <summary>
    /// Takes the chart as an SVG string and saves it to Downloads as SVG file
    /// </summary>
    /// <returns></returns>
    private async Task OnClickSaveChartSvg()
    {
        var encodingHeader = "<?xml version=\"1.0\" encoding=\"utf-8\"?>";
        var bytes = Encoding.UTF8.GetBytes(encodingHeader + RawChartSvg);
        var base64Raw = Convert.ToBase64String(bytes);
        var base64 = $"data:text/plain;base64,{base64Raw}";
        var filename = $"LifePredictor-{SelectedPerson.NameWithNoSpace}-{SelectedPerson.BirthYear}.svg";
        await _jsRuntime.InvokeVoidAsync(JS.SaveAsFile, filename, base64);
    }


    private void OnClickAddToGoogleEvents()
    {
        //calls Google events added in EventCharts.js, based on what is loaded
        _jsRuntime.InvokeVoidAsync(JS.AddEventsToGoogleCalendar);
    }

    /// <summary>
    /// Toggle highlight of events upon click of checkbox
    /// </summary>
    private void OnClickHighlightKeyword(string keyword)
    {
        //value not yet auto toggled, here we toggle to get correct result
        var toggled = !SelectedHighlightDictionary[keyword];
        SelectedHighlightDictionary[keyword] = toggled; //set back value

        //calling this via JS
        if (toggled)
        {
            //calls highlighter in EventCharts.js, based on what is loaded
            _jsRuntime.InvokeVoidAsync(JS.highlightByEventName, keyword);
        }

        //UNHIGHLIGHT
        else
        {
            //calls highlighter in EventCharts.js, based on what is loaded
            _jsRuntime.InvokeVoidAsync(JS.unhighlightByEventName, keyword);
        }
    }

    /// <summary>
    /// Gets body of POST data used to make chart from API, used for user's debug needs
    /// </summary>
    private async Task OnClickCopyAPICall()
    {
        //auto calculate precision
        var daysPerPixelRaw = EventsChart.GetDayPerPixel(SelectedTimeRange, MaxWidth);

        //get call exactly as for API
        var postData = AppData.API.EventsChart.GetEventsChartApiUrl(SelectedPerson, SelectedTimeRange, SelectedEventTags, daysPerPixelRaw, SelectedChartOptions, SelectedAyanamsaName);

        //use js to transfer to clipboard
        await _jsRuntime.InvokeVoidAsync(JS.CopyToClipboard, postData);

        //let user know link copied
        await _jsRuntime.ShowAlert("success", $"Call Copied!", false, 2600);
    }

    /// <summary>
    /// Make JS bookmark
    /// </summary>
    private async Task OnClickBookmarkChart()
    {

        //auto calculate precision
        var daysPerPixelRaw = EventsChart.GetDayPerPixel(SelectedTimeRange, MaxWidth);

        //get call exactly as for API
        //todo use data dropdown
        var callUrl = AppData.API.EventsChart.GetEventsChartApiUrl(SelectedPerson, SelectedTimeRange, SelectedEventTags, daysPerPixelRaw, SelectedChartOptions, SelectedAyanamsaName);

        //create nice bookmark title
        var title = "Chart";

        //use js to make bookmark in browser
        await _jsRuntime.InvokeVoidAsync(JS.AddNewBookmark, title, callUrl);

        //let user know link copied
        await _jsRuntime.ShowAlert("success", $"Bookmark Made!", false, 2600);
    }


    private int CurrentZoomLevel = 100; //defaults to 100 on start

    private async Task OnClickZoomIn()
    {
        //increment current zoom level
        CurrentZoomLevel += 10;

        //note : beautiful JS use without call to JS file (AI's awesome "eval" method)
        await _jsRuntime.InvokeVoidAsync("eval", $"document.getElementById('EventsChartSvgHolder').style.zoom = '{CurrentZoomLevel}%'");
    }

    private async Task OnClickZoomOut()
    {
        //increment current zoom level
        CurrentZoomLevel -= 10;

        //note : beautiful JS use without call to JS file (AI's awesome "eval" method)
        await _jsRuntime.InvokeVoidAsync("eval", $"document.getElementById('EventsChartSvgHolder').style.zoom = '{CurrentZoomLevel}%'");
    }

    private bool _isMaximized = false; // default is not max

    private async Task OnClickMaximize()
    {
        //hide or show sidebar as toggled
        _jsRuntime.ToggleClass(AppData.DesktopSidebar, "d-md-block");


        //todo zoom in till max of window

        //save value, so can zoom in and out as toggled
        _isMaximized = !_isMaximized;
        Func<Task> x = _isMaximized ? OnClickZoomIn : OnClickZoomOut;

        //zoom in/out 4 times
        for (int i = 0; i < 4; i++) { await x.Invoke(); }

    }



}

