@*SIMPLE TEXT NEXT TO AN ICON*@
@*EXP:Warning Slow, Build ML model*@

@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


<div class="@ExtraClass hstack gap-@GapNumber" style="@(ShowLine?lineStyle:"") @ExtraStyle">
    <Icon IconName="@IconName" Size="@IconSize" />
    <span style="font-size: @(FontSize)px; color: @FontColor;">@ChildContent</span>
</div>
@if (ShowLine)
{
    <hr class="my-0" />
}


@code {

    /// <summary>
    /// Size in pixels, default is 25
    /// </summary>
    [Parameter]
    public int? IconSize { get; set; } = 25;

    /// <summary>
    /// Gap between icon and text, default is 2
    /// </summary>
    [Parameter]
    public int? GapNumber { get; set; } = 2;



    /// <summary>
    /// style only used with line below, move closer to line
    /// </summary>
    private string lineStyle = "margin-bottom: -10px;";

    [Parameter]
    public string IconName { get; set; } = "";

    /// <summary>
    /// Defaults to black
    /// </summary>
    [Parameter]
    public string FontColor { get; set; } = "#000";

    /// <summary>
    /// default 13px
    /// </summary>
    [Parameter]
    public int FontSize { get; set; } = 13;

    /// <summary>
    /// Title can be HTML also
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter]
    public string ExtraClass { get; set; } = "";

    [Parameter]
    public string ExtraStyle { get; set; } = "";

    /// <summary>
    /// If true show horizontal line below text, default false
    /// </summary>
    [Parameter]
    public bool ShowLine { get; set; } = false;


}
