
@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq

<audio src="@soundUrl" controls="@showPlayer" autoplay>
    Your browser does not support the html audio tag.
</audio>
@*
@if (alarmList != null)
{
    <ul class="list-group list-group-flush">
        @foreach (var alarm in alarmList)
        {
            <li class="list-group-item">
                @(alarmList.IndexOf(alarm) + 1).
                @alarm.Name,
                @FormatSize(alarm.Length)
                <span onclick="@(() => PlayAudio(alarm.Url))"
                      class="text-primary oi oi-play-circle me-2" role="button">
                </span>
            </li>
        }
    </ul>
    <label>Show player: </label>
    <InputCheckbox @bind-Value="showPlayer" />
}*@
@code
{
    private bool showPlayer;
    private string soundUrl { get; set; }

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    PlayAudio("/sound/positive-notification.wav");
    //}

    //protected override void OnInitialized()
    //{
    //    var path = $"{env.WebRootPath}\\{soundFolder}\\";
    //    var d = new DirectoryInfo(path);
    //    var files = d.GetFiles();

    //    foreach (var file in files)
    //    {
    //        alarmList.Add(new Sound
    //        {
    //            Name = file.Name,
    //            Url = $"/{soundFolder}/{file.Name}",
    //            Length = file.Length
    //        });
    //    }
    //}


    //private string FormatSize(long bytes)
    //{
    //    var counter = 0;
    //    decimal number = bytes;
    //    string[] suffixes = { "Bytes", "KB", "MB", "GB", "TB", "PB" };

    //    while (Math.Round(number / 1024) >= 1)
    //    {
    //        number = number / 1024;
    //        counter++;
    //    }

    //    return $"{number:n1}{suffixes[counter]}";
    //}

    
}