@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


@*HELP SECTION
   Accordion Component shown at bottom of page for related help
*@
<hr class="mt-5" />
<div class="accordion rounded-4 border shadow " id="advancedTabAccordion" style="max-width: @GR.W667px; margin-bottom: @GR.W157px;">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button @(DefaultVisible?"":"collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="@(DefaultVisible?"true":"false")" aria-controls="collapseOne">
                <span style="margin-right: 7px;" class="iconify" data-icon="bx:book-reader" data-width="35"></span>
                <strong style="font-size: 25px;">Help</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse @(DefaultVisible?"":"collapse")" aria-labelledby="headingOne" data-bs-parent="#advancedTabAccordion">
            <div class="accordion-body">
                <div class="vstack">
                    @Content
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public bool DefaultVisible { get; set; } = false;

    [Parameter]
    public RenderFragment? Content { get; set; }

    public void Show()
    {
        //log it
        WebLogger.Data("Page Help Section Expand");

        //toggle first
        _jsRuntime.InvokeVoidAsync(JS.showAccordion, "#collapseOne");

        //then scroll into view
        _jsRuntime.InvokeVoidAsync(JS.scrollIntoView, "#advancedTabAccordion");

    }


}
