@using VedAstro.Library
@namespace Website.Pages



@*
    BUTTONS USED IN SIDEBAR
- have been separated so that can render unique nav bar for mobile
*@
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Home" IconName="ant-design:home-twotone" ClickUrl="@PageRoute.Home" />
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Match Checker" IconName="bi:arrow-through-heart-fill" ClickUrl="@PageRoute.Match">
    <div style="" class="vstack gap-2 w-100">
        @* <img class="rounded-2" src="images/MatchCheckerPreviewTooltip.gif"/> *@
        <p style="text-align: center; font-size: 17px; white-space: nowrap; margin: 4px; @AppData.DescriptionFont">Easy prediction of relationship's future.</p>
    </div>
</IconButton>
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="AI Chat" IconName="fluent-mdl2:chat-bot" ClickUrl="@PageRoute.ChatAPI">
    <div style="" class="vstack gap-2 w-100">
        @* <img class="rounded-2" src="images/EasyAPIBuilderGuide.gif" /> *@
        <p style="text-align: center;font-size: 17px;white-space: nowrap;margin: 4px; @AppData.DescriptionFont">Chat with AI Astrologer</p>
    </div>
</IconButton>
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Life Predictor" IconName="gis:map-time" ClickUrl="@PageRoute.LifePredictor">
    <div style="" class="vstack gap-2 w-100">
        @* <img class="rounded-2" src="images/EasyAPIBuilderGuide.gif" /> *@
        <p style="text-align: center;font-size: 17px;white-space: nowrap;margin: 4px; @AppData.DescriptionFont">Easy prediction of real life events</p>
    </div>
</IconButton>
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Match Finder" IconName="game-icons:lovers" ClickUrl="@PageRoute.MatchFinder">
    <div style="" class="vstack gap-2 w-100">
        @* <img class="rounded-2" src="images/MatchCheckerPreviewTooltip.gif" /> *@
        <p style="text-align: center;font-size: 17px;white-space: nowrap;margin: 4px; @AppData.DescriptionFont">Find your astrologically perfect match</p>
    </div>
</IconButton>
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Horoscope" IconName="fluent:book-star-20-filled" ClickUrl="@PageRoute.Horoscope">
    <div style="" class="vstack gap-2 w-100">
        @* <img class="rounded-2" src="images/MatchCheckerPreviewTooltip.gif" /> *@
        <p style="text-align: center;font-size: 17px;white-space: nowrap;margin: 4px; @AppData.DescriptionFont">Predict a peron's character &amp; nature</p>
    </div>
</IconButton>
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Good Time Finder" IconName="svg-spinners:clock" ClickUrl="@PageRoute.GoodTimeFinder">
    <div style="" class="vstack gap-2 w-100">
        @* <img class="rounded-2" src="images/MatchCheckerPreviewTooltip.gif" /> *@
        <p style="text-align: center;font-size: 17px;white-space: nowrap;margin: 4px; @AppData.DescriptionFont">Muhurtha, perfect timing for marriage, career, etc..</p>
    </div>
</IconButton>
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="API Builder" IconName="mdi:cloud-tags" ClickUrl="@PageRoute.APIBuilder">
    <div style="" class="vstack gap-2 w-100">
        @* <img class="rounded-2" src="images/EasyAPIBuilderGuide.gif" /> *@
        <p style="text-align: center;font-size: 17px;white-space: nowrap;margin: 4px; @AppData.DescriptionFont">Build your HTTP calls fast and easy</p>
    </div>
</IconButton>
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Numerology" IconName="fluent:text-number-format-20-filled" ClickUrl="@PageRoute.Numerology">
</IconButton>
<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Stars Above Me" IconName="solar:moon-stars-bold" ClickUrl="@PageRoute.StarsAboveMe">
    <div style="" class="vstack gap-2 w-100">
        @* <img class="rounded-2" src="images/MatchCheckerPreviewTooltip.gif" /> *@
        <p style="text-align: center;font-size: 17px;white-space: nowrap;margin: 4px; @AppData.DescriptionFont">Info of stars and planets above you now</p>
    </div>
</IconButton>

<IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Top Secret" IconName="mdi:treasure-chest">
    <DropDownList>
        @*        <IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Journal" IconName="game-icons:secret-book" ClickUrl="@PageRoute.Journal"/>
        <IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Muhurtha" IconName="ic:twotone-event" ClickUrl="@PageRoute.Muhurtha"/>
        <IconButton FullWidth="true" SmallSize="true" Outline="true" ButtonText="Birth Time Finder" IconName="fa-solid:history" ClickUrl="@PageRoute.BirthTimeFinder"/>
        *@
        <li><a class="dropdown-item" href="@PageRoute.Journal">Journal</a></li>
        <li><a class="dropdown-item" href="@PageRoute.BirthTimeFinder">Birth Time Finder</a></li>
        <li><a class="dropdown-item" href="@PageRoute.LocalMeanTime">Local Mean Time</a></li>
        <li><a class="dropdown-item" href="@PageRoute.SunRiseSetTime">Sunrise/Sunset Time</a></li>
    </DropDownList>
</IconButton>

<!--ACCOUNT OR LOGIN-->
@*User already signed in show account button else show login button*@
@if (AppData.IsGuestUser)
{
    <IconButton ButtonText="Log In"
                Color="warning"
                FullWidth="true"
                IconName="mdi:user-circle" OnClickCallback="OnClickNavBarLoginButton" SmallSize="true" TooltipText="Login to save your data" />
}
else
{
    <IconButton FullWidth="true" SmallSize="true" ButtonText="Account" IconName="ic:round-account-box">
        <DropDownList>
            <li><a class="dropdown-item" href="@PageRoute.UserAccount">Account Info</a></li>
            <li><a class="dropdown-item" href="@PageRoute.PersonList">Person List</a></li>
            <li><a class="dropdown-item" href="@PageRoute.AddPerson">Add Person</a></li>
            <li><a class="dropdown-item" href="@PageRoute.SavedCharts">Saved Charts</a></li>
            <li><a class="dropdown-item" href="#" @onclick="OnClickSignOutButton">Logout</a></li>
        </DropDownList>
    </IconButton>
}


@code {

    private ElementReference MatchTooltip;

    private async Task OnClickSignOutButton() => await InvokeAsync(async () => await _OnClickSignOutButton()).Try(_jsRuntime);

    /// <summary>
    /// note will auto direct to caller page after login
    /// </summary>
    private void OnClickNavBarLoginButton() => AppData.Go(PageRoute.Login);


    private async Task _OnClickSignOutButton()
    {
        //NOTE: don't use show loading box here, for some reason breaks the whole thing

        //log this
        //WebLogger.Click("Sign Out");

        //clear local storage of user data
        //since login status is basically the existence of user data in localstorage
        //removing it removes user's login
        await _jsRuntime.RemoveProperty("UserData");
        await _jsRuntime.RemoveProperty("UserId");
        await _jsRuntime.RemoveProperty("UserName");

        //clear selected person
        await _jsRuntime.RemoveProperty("SelectedPerson");

        //clear person list (keep public since, nicely shared by all)
        await _jsRuntime.RemoveProperty("CachedPersonList");

        //put api access back in guest mode
        AppData.CurrentUser = UserData.Guest;

        //before reload page let user know log out went well
        var possibles = new[]
        {
            "we hope you come back",
            "we will miss you",
            "come back soon...",
            "we'll be waiting for you",
        };
        var randoText = Tools.RandomSelect(possibles);
        await _jsRuntime.ShowAlert("success", $"Logged out, {randoText}", false, 3000);

        //refresh page
        await _jsRuntime.LoadPage(PageRoute.Home);

    }


}
