@namespace Website.Pages
@using VedAstro.Library;
@using System.Text.RegularExpressions
@using System.Globalization

@if (paramType != null)
{
    @* Note: place inside as not to render when not needed *@
    <div class="vstack gap-1">

        @if (paramType == typeof(Time))
        {
            <span class="hstack gap2-2" style="font-weight: 600;color: red;margin-left: 13px;">
                @ParamName
                @if (!string.IsNullOrEmpty(ParamDescription)) { <HelpIconTooltip ShowOnHover="true" HelpText="@ParamDescription" SmallIcon="true" /> }
            </span>
            <TimeLocationInput @ref="_inputTimeLocation" />
        }
        else if (paramType == typeof(PlanetName))
        {
            <div class="input-group">
                <label class="input-group-text" style="font-weight: 600; color: red;" for="@InstanceId">
                    @ParamName
                    @if (!string.IsNullOrEmpty(ParamDescription)) { <HelpIconTooltip ShowOnHover="true" HelpText="@ParamDescription" SmallIcon="true" /> }
                </label>
                <select @bind="_inputPlanetName" class="form-select" id="@InstanceId">
                    <option selected>Choose...</option>
                    @{
                        <option value="All" style="color: blue;font-weight: 600;">All</option>
                        <option value="All9WithUpagrahas" style="color: blue;font-weight: 600;">All 9 With Upagrahas</option>
                        <option value="Sun">Sun</option>
                        <option value="Moon">Moon</option>
                        <option value="Mars">Mars</option>
                        <option value="Mercury">Mercury</option>
                        <option value="Venus">Venus</option>
                        <option value="Jupiter">Jupiter</option>
                        <option value="Saturn">Saturn</option>
                        <option value="Rahu">Rahu</option>
                        <option value="Ketu">Ketu</option>
                    }
                </select>
            </div>
        }
        else if (paramType == typeof(HouseName))
        {
            <div class="input-group">
                <label class="input-group-text" style="font-weight: 600; color: red;" for="@InstanceId">
                    @ParamName
                    @if (!string.IsNullOrEmpty(ParamDescription)) { <HelpIconTooltip ShowOnHover="true" HelpText="@ParamDescription" SmallIcon="true" /> }
                </label>
                <select @bind="_inputHouseName" class="form-select" id="@InstanceId">
                    <option selected>Choose...</option>
                    @{
                        <option value="All" style="color: blue;font-weight: 600;">All</option>
                        <option value="House1">House 1</option>
                        <option value="House2">House 2</option>
                        <option value="House3">House 3</option>
                        <option value="House4">House 4</option>
                        <option value="House5">House 5</option>
                        <option value="House6">House 6</option>
                        <option value="House7">House 7</option>
                        <option value="House8">House 8</option>
                        <option value="House9">House 9</option>
                        <option value="House10">House 10</option>
                        <option value="House11">House 11</option>
                        <option value="House12">House 12</option>
                    }
                </select>
            </div>
        }
        else if (paramType == typeof(Angle))
        {
            <div class="input-group">
                <span class="input-group-text" style="font-weight: 600; color: red;" id="@InstanceId">
                    @ParamName
                    @if (!string.IsNullOrEmpty(ParamDescription)) { <HelpIconTooltip ShowOnHover="true" HelpText="@ParamDescription" SmallIcon="true" /> }
                </span>
                <input @bind="_inputTotalDegrees" type="text" class="form-control" placeholder="23.456">
            </div>
        }
        else if (paramType == typeof(string))
        {
            <div class="input-group">
                <span class="input-group-text" style="font-weight: 600; color: red;" id="@InstanceId">
                    @ParamName
                    @if (!string.IsNullOrEmpty(ParamDescription)) { <HelpIconTooltip ShowOnHover="true" HelpText="@ParamDescription" SmallIcon="true" /> }
                </span>
                <input @bind="_inputText" type="text" class="form-control" placeholder="...">
            </div>
        }
        else if (paramType == typeof(int) || paramType == typeof(double))
        {
            <div class="input-group">
                <span class="input-group-text" style="font-weight: 600; color: red;" id="@InstanceId">
                    @ParamName
                    @if (!string.IsNullOrEmpty(ParamDescription)) { <HelpIconTooltip ShowOnHover="true" HelpText="@ParamDescription" SmallIcon="true" /> }
                </span>
                <input @bind="_inputNumber" type="number" class="form-control" placeholder="...">
            </div>
        }
        else if (paramType.IsEnum)
        {
            <div class="input-group">
                <label class="input-group-text" style="font-weight: 600; color: red;" for="@InstanceId">
                    @(Format.FormatName(paramType.Name))
                    @if (!string.IsNullOrEmpty(ParamDescription)) { <HelpIconTooltip ShowOnHover="true" HelpText="@ParamDescription" SmallIcon="true" /> }
                </label>
                <select @bind="_inputEnumName" class="form-select" id="@InstanceId">
                    <option selected>Choose...</option>
                    @{
                        foreach (var value in Enum.GetValues(paramType))
                        {
                            <option value="@value">@value</option>
                        }
                    }
                </select>
            </div>
        }
        else if (paramType == typeof(List<EventTag>))
        {
            @* DATA POINT / METHOD SELECT *@
            <EventTagListSelector @ref="_EventTagListSelector" />
        }
        else
        {
            <div>
                <Icon IconName="noto-v1:construction" />
                <p>UNDER CONSTRUCTION : <a href="@PageRoute.Donate">Donate</a> to speed development</p>
                <span style="font-size=4px;">@paramType.FullName</span>
            </div>
        }

    </div>
}

@code {

    public EventTagListSelector _EventTagListSelector { get; set; }
    public List<OpenAPIMetadata> MethodListALL { get; set; }

    /// <summary>
    /// id used to sync labels and inputs, for HTML’s sake
    /// </summary>
    private static string InstanceId = Guid.NewGuid().ToString();
    private Type paramType;
    private double _inputTotalDegrees;
    private string _inputText;
    private double _inputNumber;
    private string _inputPlanetName;
    private string _inputHouseName;
    private string _inputEnumName;
    private TimeLocationInput _inputTimeLocation;

    //default values used by optional params
    public string DefaultValue { get; set; } = "";

    /// <summary>
    /// text shown inside help icon tooltip for param comes from c# code
    /// </summary>
    public string ParamDescription { get; set; } = "";

    /// <summary>
    /// Name will be displayed as label to id the input
    /// </summary>
    [Parameter]
    public string ParamName { get; set; }


    public void SetValue(ParameterMetadata item)
    {
        var paramName = item.Name;
        var paramDescription = item.Description;

        this.paramType = item.ParamType;
        this.ParamName = ConvertCamelCaseToSpaces(paramName);
        this.ParamDescription = paramDescription;
        this.DefaultValue = item.DefaultValue;


        //set default values into input fields
        if (!string.IsNullOrEmpty(item.DefaultValue)) { SetValueIntoInputField(item.DefaultValue); }


        StateHasChanged(); //needed to propagate updates
    }

    //used to set optional param data
    //note: not all types supported
    private void SetValueIntoInputField(string value)
    {
        // if (paramType == typeof(Time)) { combinedUrl = await _inputTimeLocation.ToApiUrl(); }
        // else if (paramType == typeof(PlanetName)) { combinedUrl = $"/PlanetName/{_inputPlanetName}"; }
        // else if (paramType == typeof(Angle)) { combinedUrl = $"/Angle/{_inputTotalDegrees}"; }
        if (paramType == typeof(string))
        {
            _inputText = value;
        }
        else if (paramType == typeof(int))
        {
            _inputNumber = int.Parse(value);
        }
        else if (paramType == typeof(double))
        {
            _inputNumber = double.Parse(value);
        }
        else if (paramType?.IsEnum ?? false)
        {
            _inputEnumName = value;
        }

    }

    public string GetValueFromInputField()
    {
        if (paramType == typeof(string))
        {
            return _inputText;
        }
        else if (paramType == typeof(int) || paramType == typeof(double))
        {
            return _inputNumber.ToString();
        }
        else if (paramType?.IsEnum ?? false)
        {
            return _inputEnumName;
        }

        return "";
    }

    public async Task Hide()
    {
        this.paramType = null;
        this.ParamName = null;
        this.ParamDescription = null;

        StateHasChanged(); //needed to propagate updates
    }

    // converts "houseName" to "House Name"
    private static string ConvertCamelCaseToSpaces(string text)
    {
        text = Regex.Replace(text, "(\\B[A-Z])", " $1");
        return CultureInfo.CurrentCulture.TextInfo.ToTitleCase(text);
    }


    public async Task<string> ToApiUrl()
    {
        //NOTE : required params are detected by position
        //       and optional params are detected by name
        //       name of param is needed by "optional params" to detect their type

        string combinedUrl = "";

        if (!string.IsNullOrEmpty(ParamName))
        {
            //remove spaces from param name to masuk URL nicely

            var paramNameForUrl = ParamName.Replace(" ", "");

            switch (paramType)
            {
                case Type type when type == typeof(Time):
                    combinedUrl = await _inputTimeLocation.ToApiUrl();
                    break;
                case Type type when type == typeof(PlanetName):
                    combinedUrl = $"/PlanetName/{_inputPlanetName}";
                    break;
                case Type type when type == typeof(HouseName):
                    combinedUrl = $"/HouseName/{_inputHouseName}";
                    break;
                case Type type when type.IsEnum:
                    combinedUrl = $"/{paramNameForUrl}/{_inputEnumName}";
                    break;
                case Type type when type == typeof(Angle):
                    combinedUrl = $"/{paramNameForUrl}/{_inputTotalDegrees}";
                    break;
                case Type type when type == typeof(string):
                    combinedUrl = $"/{paramNameForUrl}/{_inputText}";
                    break;
                case Type type when type == typeof(int) || type == typeof(double):
                    combinedUrl = $"/{paramNameForUrl}/{_inputNumber}";
                    break;
                case Type type when type == typeof(List<EventTag>):
                    combinedUrl = $"/EventTags/{_EventTagListSelector.ToApiUrl()}";
                    break;
            }
        }

        return combinedUrl;
    }

    /// <summary>
    /// Check if all fields has been filled
    /// </summary>
    /// <returns></returns>
    public async Task<bool> IsValidationPassed()
    {

        //TEST 2 : PLANET NAME
        if (paramType == typeof(HouseName))
        {
            var isNotSelected = string.IsNullOrEmpty(_inputHouseName);
            if (isNotSelected)
            {
                //mark invalid & alert user
                await _jsRuntime.ShowAlert("error", $"Please select a House first!", true);
                return false;
            }
        }


        //TEST 2 : PLANET NAME
        else if (paramType == typeof(PlanetName))
        {
            var isNotSelected = string.IsNullOrEmpty(_inputPlanetName);
            if (isNotSelected)
            {
                //mark invalid & alert user
                await _jsRuntime.ShowAlert("error", $"Please select a Planet first!", true);
                return false;

            }
        }

        //TEST 1 : ENUM
        else if (paramType?.IsEnum ?? false)
        {
            var isNotSelected = string.IsNullOrEmpty(_inputEnumName);

            if (isNotSelected)
            {
                //mark invalid & alert user
                await _jsRuntime.ShowAlert("error", $"Please select a {paramType.Name} first!", true);
                return false;

            }
        }



        //if control reaches here than, it's valid
        return true;
    }



}
