@attribute [Route(PageRoute.Glossary)]

<PageTitle>Glossary &amp; Reference</PageTitle>
<PageTop Title="Glossary &amp; Reference" IconName="flat-color-icons:calculator">
    <Description>
        Technical vedic terms explained in simple English, for easier understanding across cultures
    </Description>
</PageTop>


@*TODO LOAD DATA FROM Reference List*@

<UnderConstructionHeader PageName="Glossary"/>

@*<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Calculator</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="@PageRoute.Match" class="link-primary">Match</a></td>
            <td>Check marriage compatibility between horoscopes, using 16 factors.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.Dasa" class="link-primary">Dasa</a></td>
            <td>Know good and bad periods of a person&apos;s life years ahead.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.Muhurtha" class="link-primary">Muhurtha</a></td>
            <td>Find a good time for buying car, travel, studies, etc..</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.Horoscope" class="link-primary">Horoscope</a></td>
            <td>Shows all possible prediction for a person from birth time.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.HoroscopeData" class="link-primary">Horoscope Data</a></td>
            <td>Raw astrological data, such as planet positions, house signs, etc.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.LocalMeanTime" class="link-primary">Local Mean Time</a></td>
            <td>Actual time at a place based on coordinates, used in astrological calculations.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.SunRiseSetTime" class="link-primary">Sunrise/Sunset Time</a></td>
            <td>Accurate sunrise &amp; sunset time at any place on earth.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.BirthTimeFinder" class="link-primary">Birth Time Finder</a></td>
            <td>Find forgotten/lost birth time using astrological methods.</td>
        </tr>
    </tbody>
</table>
*@


@code {

}
