@using VedAstro.Library
@attribute [Route(PageRoute.QuickGuide)]


<PageTitle>Quick Guide</PageTitle>

<PageTop Title="Quick Guide" IconName="flat-color-icons:reading">
    <Description>
        VedAstro is a WebApp designed to help people
        use Vedic Astrology in their daily life.
    </Description>
    @*    <ButtonsRow>
    <IconButton IconName="akar-icons:chat-question" ButtonText="Ask Question" ClickUrl="@PageRoute.Contact"></IconButton>
    </ButtonsRow>
    *@
</PageTop>

<div style="max-width:@GR.W667px;">

    <ArticleBlock Title="How To Use?" IconName="flat-color-icons:close-up-mode">
        <TextHTML>
            <div class="vstack gap-2 mt-3">
                <div class="d-flex gap-3">
                    <kbd>STEP 1</kbd>
                    <span>Add new Person profile</span>
                    <PersonSelectorBox ExtraClass="ms-auto" HideTitle="true" @ref="_peopleSelectorBox" />
                </div>
                <div class="d-flex gap-3">
                    <kbd>STEP 2</kbd>
                    <span>Choose calculator</span>
                    <select @bind="SelectedCalculator" class="ms-auto form-control" style="width:@GR.W255px; height:@GR.W37px;">
                        <option value="">Match</option>
                        <option value="">Life Predictor</option>
                        <option value="">Muhurtha</option>
                    </select>
                </div>
                <div class="d-flex gap-3">
                    <kbd>STEP 3</kbd>
                    <span>View astro predictions and data. Done!</span>
                    <IconButton ExtraClass="ms-auto" TooltipText="Done" IconName="fluent-mdl2:completed-solid" ClickUrl="@PageRoute.AddPerson" />
                </div>
            </div>
        </TextHTML>
    </ArticleBlock>

@*    <ArticleBlock Title="How To Use?" IconName="flat-color-icons:close-up-mode">
        <TextHTML>
            <div class="vstack gap-2 mt-3">
                <div class="d-flex gap-3">
                    <kbd>STEP 1</kbd>
                    <span>Add new Person profile</span>
                    <IconButton ExtraClass="ms-auto" TooltipText="Add new person" IconName="ant-design:user-add-outlined" ClickUrl="@PageRoute.AddPerson" />
                    <PersonSelectorBox @ref="_peopleSelectorBox" />
                </div>
                <div class="d-flex gap-3">
                    <kbd>STEP 2</kbd>
                    <span>Choose calculator</span>
                    <IconButton ExtraClass="ms-auto" TooltipText="Add new person" IconName="ph:calculator" ClickUrl="@PageRoute.AddPerson" />
                </div>
                <div class="d-flex gap-3">
                    <kbd>STEP 3</kbd>
                    <span>View astro predictions and data. Done!</span>
                    <IconButton ExtraClass="ms-auto" TooltipText="Add new person" IconName="ant-design:user-add-outlined" ClickUrl="@PageRoute.AddPerson" />
                </div>
            </div>
        </TextHTML>
    </ArticleBlock>

*@    <ArticleBlock Title="What is a calculator?" IconName="icon-park:calculator">
        <TextHTML>
            Each calculator shows aspect of astrology. For example <BoldLink URL="@PageRoute.Match">Match</BoldLink> is a calculator for
            checking marriage or friendship compatibility. <BoldLink URL="@PageRoute.Muhurtha">Muhurtha</BoldLink> is used for finding good
            timing and using the <BoldLink URL="@PageRoute.LifePredictor">Life Predictor</BoldLink> you can make predictions up to 120 years.
            Explore each calculator to get a deep understanding of Vedic Astrology.
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Unexpected errors?" IconName="flat-color-icons:broken-link">
        <TextHTML>
            Press <kbd>CTRL + SHIFT + R</kbd> This will clear the old copy (cache), and
            solve 90% of the errors you face.
            VedAstro WebApp gets new updates almost <BoldLink URL="@URL.GitHubCommits">everyday!</BoldLink>
            So it's important that you're using the latest version.
            The browser caches the old version, which causes errors as it fails to work with the updated API Server.
            For Mac OSX users, try <kbd>COMMAND + SHIFT + R</kbd> in Chrome.
        </TextHTML>

    </ArticleBlock>

    <ArticleBlock Title="Who is this for?" IconName="flat-color-icons:conference-call">
        <TextHTML>

            <p class="text-justify">
                Both an average person and expert astrologer can find VedAstro useful. There are complex calculators
                like Dasa that experts can use and there are easy to use calculators like Match that require
                no astrological knowledge.
            </p>
            <p class="text-justify">
                These calculators a constantly being improved. The ideal goal of this project is to make all tools easily usable by anybody.
                So if you find any of the calculator too difficult, just leave a comment and it might be better the next time you visit.
            </p>
        </TextHTML>

    </ArticleBlock>

    <ArticleBlock Title="Must I login to use?" IconName="flat-color-icons:neutral-decision">
        <TextHTML>
            No. VedAstro was designed with <strong>ease and speed</strong> in mind. So all tools are available
            for use without login. But if you don't login, we can't save the data you add.
            For example, if you add a Person profile it will only be available the next time you
            visit if you login first. Else it <strong>will be deleted</strong> when you close &amp; clear cache.
            We've simplified the login process using <BoldLink OpenInNewTab="false" URL="@PageRoute.Login">Google &amp; Facebook</BoldLink> login. So you don't have to waste
            your time creating a new account with boring passwords to remember.
        </TextHTML>

    </ArticleBlock>

    <ArticleBlock Title="Info For Coders" IconName="flat-color-icons:engineering">
        <TextHTML>
            Under the hood, VedAstro is a hybrid Blazor WebAssembly + JS web application.
            The cloud method of using VedAstro is the recommended way for most users.
            But if you're feeling adventurous, try out VedAstro in Windows & API.
            You can find the Windows exe build in our github repo. And for now the best way you can
            learn to use the API is to read the code in our repo. As we have yet to reach the documentation stage of this project.
            If you need help with our API or Code, just drop us a mail.
        </TextHTML>

    </ArticleBlock>


</div>

@code
{
    private PersonSelectorBox? _peopleSelectorBox;
    private string? SelectedCalculator;

}
