
@* 
▀█▀ █░█ █▀▀   █░█░█ █ █▀ █▀▀   █▀▀ █▀█   █▀ █ █░░ █▀▀ █▄░█ ▀█▀ ░
░█░ █▀█ ██▄   ▀▄▀▄▀ █ ▄█ ██▄   █▄█ █▄█   ▄█ █ █▄▄ ██▄ █░▀█ ░█░ █

█▄▄ █▀▀ █▀▀ ▄▀█ █░█ █▀ █▀▀   █▄░█ █▀█ ▀█▀ █░█ █ █▄░█ █▀▀   █▄░█ █▀▀ █▀▀ █▀▄ █▀   ▀█▀ █▀█   █▄▄ █▀▀   █▀ ▄▀█ █ █▀▄
█▄█ ██▄ █▄▄ █▀█ █▄█ ▄█ ██▄   █░▀█ █▄█ ░█░ █▀█ █ █░▀█ █▄█   █░▀█ ██▄ ██▄ █▄▀ ▄█   ░█░ █▄█   █▄█ ██▄   ▄█ █▀█ █ █▄▀
 *@
 

@using VedAstro.Library
@attribute [Route(PageRoute.QuickGuide)]


<PageTitle>Hitchhiker's Guide To VedAstro</PageTitle>

<PageTop Title="Quick Guide"
         ImageWidth="195"
         ImageName="user-guide-banner.png"
         DescriptionText="This is a web app to help you use vedic astrology. It is designed to work like an app running in the cloud." />


<div class="vstack gap-4" style="max-width:@GR.W667px;">

    <ArticleBlock Title="How To Use?" IconName="flat-color-icons:close-up-mode">
        <TextHTML>
            <div class="container ">
                <div class="row row-cols-3 align-items-center justify-content-start">
                    <div class="col-auto p-0">
                        <kbd>STEP 1</kbd>
                    </div>
                    <div class="col-6">
                        <span>Choose or add person's horoscope</span>
                    </div>
                    <div class="col">
                        <PersonSelectorBox HideTitle="true" @ref="_peopleSelectorBox" />
                    </div>
                </div>
                <div class="mt-3 row row-cols-3 align-items-center justify-content-start">
                    <div class="col-auto p-0">
                        <kbd>STEP 2</kbd>
                    </div>
                    <div class="col-6">
                        <span>Choose calculator to use</span>
                    </div>
                    <div class="col">
                        <select @bind="SelectedCalculator" class="form-control" style="width: 225px; height: @GR.W37px;">
                            @*width made to fit name above box*@
                            <option value="" selected>Choose...</option>
                            <option value="Match">Match Checker</option>
                            <option value="Horoscope">Horoscope</option>
                            <option value="LifePredictor">Life Predictor</option>
                            <option value="GoodTimeFinder">Good Time Finder</option>
                        </select>
                    </div>
                </div>
                <div class="mt-3 row row-cols-3 align-items-center justify-content-start">
                    <div class="col-auto p-0">
                        <kbd>STEP 3</kbd>
                    </div>
                    <div class="col-6">
                        <span>Click calculate to view predictions. <strong style="color: #007e21;">Easy!</strong></span>
                    </div>
                    <div class="col">
                        <IconButton SmallSize="true" ButtonText="Goto Calculator" OnClickCallback="OnClickCalculateEasyPeasy" TooltipText="Take me to calculator now!" TextCenter="true" IconName="gg:calendar-next" />
                    </div>
                </div>
            </div>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="What is a calculator?" IconName="icon-park:calculator">
        <ButtonRow>
            <IconButton SmallSize="true" ButtonText="Tutorials" IconName="logos:youtube-icon" OpenNewTab="true" ClickUrl="@URL.YoutubeChannel" />
            <IconButton SmallSize="true" ButtonText="View All" IconName="fluent:calculator-multiple-24-regular" ClickUrl="@PageRoute.CalculatorList" />
        </ButtonRow>
        <TextHTML>
            Each calculator shows an aspect of astrology. For example <BoldLink URL="@PageRoute.Match">Match</BoldLink> is a calculator for
            checking marriage or friendship compatibility. <BoldLink URL="@PageRoute.LifePredictor">Life Predictor</BoldLink>
            can help predict major life events <strong>decades ahead</strong> and using <BoldLink URL="@PageRoute.GoodTimeFinder">Good Time Finder</BoldLink>
            you can find the perfect time for important occasions like marriage, job interviews or starting a project.
            Explore each calculator to get a deep understanding of Vedic Astrology.
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Unexpected errors?" IconName="flat-color-icons:broken-link">
        <TextHTML>
            <p>
                Press <kbd>CTRL + SHIFT + R</kbd>. This will clear the old copy (cache), and
                solve 90% of the errors you face. VedAstro gets new updates almost <BoldLink URL="@URL.GitHubCommits">everyday!</BoldLink>
            </p>
            <p>
                So it's important that you're using the latest version.
                The browser caches the old version, which causes errors as it fails to work with the updated API Server.
                For <strong>Mac OSX</strong> users, try <kbd>COMMAND + SHIFT + R</kbd> in Chrome.
            </p>
        </TextHTML>

    </ArticleBlock>

    <ArticleBlock Title="Who is this for?" IconName="flat-color-icons:conference-call">
        <TextHTML>
            <p class="text-justify">
                Both an <strong>average</strong> person and expert astrologer can find VedAstro useful.
                In every calculator there is an "<strong>Easy</strong>" and "<strong>Advanced</strong>"
                version of the results.
            </p>
            <p class="text-justify">
                These calculators a constantly being improved. The ideal goal of this project is to make all tools
                <strong>easily usable</strong> by anybody. So if you find any of the calculator too difficult,
                just leave a note and it might be better the next time you visit.
            </p>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Must I login to use?" IconName="flat-color-icons:neutral-decision">
        <TextHTML>
            <p>
                <strong>No</strong>. VedAstro was designed with <strong>ease and speed</strong> in mind. So all tools are available
                for use without login. But if you don't login, we can't save the data you add.
                For example, if you add a Person profile it will only be available the next time you
                visit if you login first.
            </p>
            <p>
                Else it <strong>will be deleted</strong> when you close &amp; clear cache.
                To login is very simple using <BoldLink OpenInNewTab="false" URL="@PageRoute.Login">Google &amp; Facebook</BoldLink>.
                So you don't have to waste your time creating a new account with boring passwords to remember.
                We strongly believe in user <strong>privacy</strong>. So we <strong>don't collect or connect</strong> to any
                data from your Google or Facebook account, it is only to authenticate your access. You can verify
                this in the open source code.
            </p>
        </TextHTML>

    </ArticleBlock>

    <ArticleBlock Title="Info For Coders" IconName="flat-color-icons:engineering">
        <TextHTML>

            <p>
                Under the hood, VedAstro is a hybrid Blazor WebAssembly + JS web application.
                The cloud method of using VedAstro is the recommended way for most users.
                But if you're feeling adventurous, try out VedAstro in Windows & Open API.
            </p>

            <img src="images/4-parts-of-vedastro.jpg" width="@GR.W667px" class="img-thumbnail my-3" alt="...">

            <p>
                These 4 parts come together to make the final service you see. You can incorporate individual parts of VedAstro
                into your own projects as well. You can find the Windows exe build in our github repo.
                If you need help with our API or Code, just drop us a mail.
            </p>
        </TextHTML>

    </ArticleBlock>

</div>

@code
{
    private PersonSelectorBox? _peopleSelectorBox;
    private string? SelectedCalculator;

    private async Task OnClickCalculateEasyPeasy()
    {
        //make sure user selected person and
        //check validation


        //only continue if passed input field validation
        if (!(await IsValidationPassed())) { return; } //if nothing than back to normal


        var personId = _peopleSelectorBox?.SelectedPersonId ?? "";
        personId = personId == "101" || personId == "0" ? "" : personId;//if no user selected than just go to calc

        switch (SelectedCalculator?.ToLower() ?? "")
        {
            case "horoscope": AppData.Go($"{PageRoute.Horoscope}/{personId}"); break;
            case "lifepredictor": AppData.Go($"{PageRoute.LifePredictor}/{personId}"); break;
            case "match": AppData.Go($"{PageRoute.Match}"); break; //fill only first name
            case "matchfinder": AppData.Go($"{PageRoute.MatchFinder}"); break;
            case "goodtimefinder": AppData.Go($"{PageRoute.GoodTimeFinder}"); break; //fill only first name
        }

    }


    /// <summary>
    /// Checks if validation of all input fields
    /// </summary>
    private async Task<bool> IsValidationPassed()
    {
        //TEST 1 : select calculator
        if (String.IsNullOrWhiteSpace(SelectedCalculator))
        {
            //mark invalid & alert user
            await _jsRuntime.ShowAlert("error", "Select a calculator!", AlertText.FunnyPleaseSelectText("Calculator"));
            return false;
        }

        //if control reaches here than, it's valid
        return true;

    }

}
