@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


@*show loading first*@
@if (!NothingToShow)
{

    <IconTitle IconName="emojione:heart-with-arrow" Title="Found Match">
        <ButtonRow>
            <div class="hstack gap-3">
                <div class="input-group" style="width: fit-content">
                    <label class="input-group-text gap-1" for="genderFilterSelector">
                        <Icon IconName="ph:gender-intersex-fill" Size="25" /> Gender
                    </label>
                    <select class="form-select" id="genderFilterSelector">
                        <option selected>Both</option>
                        <option value="1">Only Male</option>
                        <option value="2">Only Female</option>
                    </select>
                </div>

                <div class="input-group me-3" style="width: fit-content">
                    <label class="input-group-text gap-1" for="ViewFilterSelector">
                        <Icon IconName="ic:round-view-list" Size="25" /> View
                    </label>
                    <select class="form-select" id="ViewFilterSelector">
                        <option selected>Card</option>
                        <option value="1">List</option>
                    </select>
                </div>

                <IconButton TooltipText="Share on Facebook" SmallSize="true" IconName="ic:twotone-facebook" OnClickCallback="@(() => WebsiteTools.ShareCurrentPageOnFacebook())" />
            </div>
        </ButtonRow>
    </IconTitle>


    <div class="mt-3">
        @if (IsCardView)
        {
            <div class="g-4 row row-cols-2 row-cols-sm-3 row-cols-lg-4">
                @foreach (var personKutaScore in PersonKutaScoreList)
                {
                    <div class="me-4 rounded-3 border shadow px-3 pt-2 pb-3 d-flex" style="background-color: #fff; width: @GR.W412px;height: fit-content;">

                        <div style="width: @GR.W134px;" class="me-3">
                            @* set height manually to compensate for bing images, calls API directly from img *@
                            <img style="width: inherit; height: 188px;" src="@($"{AppData.URL.GetPersonImage}/{personKutaScore.PersonId}")">
                        </div>

                        <div class="flex-column justify-content-between gap-3">
                            <div class="mb-2 d-flex justify-content-between border-bottom">
                                <span style="font-size: 23px; font-weight: 600; ">@personKutaScore.PersonName.Truncate(16)</span>
                                <span style=" width: min-content;  font-size: 22px;" class="ms-3">
                                    Score
                                    <b style="color: #00a702;">@personKutaScore.KutaScore%</b>
                                </span>
                            </div>
                            <div class="vstack gap-2">
                                <div class="gap-3 d-flex justify-content-between">
                                    <div class="card-text hstack gap-2"><Icon Size="30" IconName="@GetGenderIconName(personKutaScore.Gender)" /> @personKutaScore.Gender</div>
                                    <div class="card-text hstack gap-1 me-2"><Icon Size="30" IconName="icon-park-outline:birthday-cake" /> Age @personKutaScore.Age</div>
                                </div>
                                <div class="gap-3 d-flex justify-content-between">
                                    <div class="card-text hstack gap-2"><Icon Size="30" IconName="clarity:talk-bubbles-solid" /><b style="color: #ff6969;">Bad</b></div>
                                    <div class="card-text hstack gap-1 me-2"><Icon Size="30" ImageName="sex-in-bed.png" /><b style="color: #00a702;">Good</b></div>
                                </div>

                                @* <div style="margin-left: -5px;" class="gap-2 d-flex justify-content-begin">
                    <Icon IconName="mdi:head-love" Size="34" />
                    Mind
                    <b style="color: #ff6969;">Not In Tune</b>
                    </div>
                    <div class="gap-2 d-flex justify-content-begin">
                    <Icon ImageName="sex-in-bed.png" Size="30" />
                    Sex Life
                    <b style="color: #00a702;">Good</b>
                    </div>
                    <div class="gap-2 d-flex justify-content-begin">
                    <Icon IconName="clarity:talk-bubbles-solid" Size="30" />
                    Communication
                    <b style="color: #333;">OK</b>
                    </div> *@
                                @* BUTTONS *@
                                <div class="d-flex gap-3 justify-content-between">
                                    <IconButton IconName="openmoji:love-letter" OnClickCallback="@(() => OnClickViewMatchReport(personKutaScore.PersonId))" ButtonText="Say Hi!" SmallSize="true" />
                                    <IconButton IconName="carbon:report-data" OnClickCallback="@(() => OnClickViewMatchReport(personKutaScore.PersonId))" ButtonText="View" SmallSize="true" />
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
        @* TABLE VIEW *@
        else
        {

            <table class="table table-bordered table-hover" style="text-wrap: nowrap;">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Person</th>
                        <th scope="col">Score</th>
                        <th scope="col"></th>
                        <th scope="col">Report</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in PersonKutaScoreList)
                    {
                        <tr>
                            <td>@report.PersonName</td>
                            <td>@report.KutaScore</td>
                            <td><IconButton IconName="openmoji:love-letter" OnClickCallback="@(()=>OnClickViewMatchReport(report.PersonId))" ButtonText="Say Hi!" SmallSize="true" /></td>
                            <td><IconButton IconName="carbon:report-data" OnClickCallback="@(()=>OnClickViewMatchReport(report.PersonId))" ButtonText="View" SmallSize="true" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>

}




@code {

    private bool IsCardView { get; set; } = true;


    private bool NothingToShow { get; set; } = true;

    public List<PersonKutaScore> PersonKutaScoreList { get; set; } = new List<PersonKutaScore>();


    private Person SelectedPerson { get; set; }



    public async Task Update(Person selectedPerson, List<PersonKutaScore> personKutaScoreList)
    {
        NothingToShow = true;

        //save person to make chart link
        SelectedPerson = selectedPerson;

        PersonKutaScoreList = personKutaScoreList;

        NothingToShow = false;

        StateHasChanged();

    }

    private void OnClickViewMatchReport(string personId)
    {
        //make link to match chart with selected person and person from list
        var matchReportUrlMale = $"/Match/Report/{SelectedPerson.Id}/{personId}";
        var matchReportUrlFemale = $"/Match/Report/{personId}/{SelectedPerson.Id}";

        //priority of gender order goes to selected person
        var finalUrl = SelectedPerson.Gender == Gender.Male ? matchReportUrlMale : matchReportUrlFemale;

        //open new tab for convenience
        AppData.Go(finalUrl, newTab: true);
    }

    private string GetGenderIconName(Gender gender)
    {
        //change name of icon based on male or female
        var iconName = $"ph:gender-{gender.ToString().ToLower()}-fill";
        return iconName;
    }

    // private string GetImageUrl(string personId)
    // {
    //     var x = $"{AppData.URL.GetPersonImage}/{personId}";
    // }

}
