@*SIMPLE BOX TO SHOW LIST OF MATCH CHARTS*@

@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


@*show loading first*@
@if (NothingToShow)
{
    @AppData.LoadingImage
}
else
{

    <table class="table mb-5" style="text-wrap: nowrap;">
        <thead>
            <tr>
                <th scope="col">Couple</th>
                <th scope="col">Prediction</th>
                <th scope="col">Real Life</th>
                <th scope="col">Report</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in MatchReportList)
            {
                <tr>
                    <td>
                        <div class="hstack gap-2">
                            <PersonTooltip Person="@report.Male" />
                            <Icon Size="(int)GR.W22" NextToText="true" IconName="@report.Summary.heartIcon" />
                            <PersonTooltip Person="@report.Female" />
                        </div>
                    </td>
                    <td><b style="color: @report.Summary.scoreColor;">@report.KutaScore%</b></td>
                    <td>@report.Notes</td>
                    <td><IconButton ButtonText="View" OpenNewTab="true" ClickUrl=@($"/Match/Report/{@report.Male.Id}/{@report.Female.Id}") /></td>
                </tr>
            }
        </tbody>
    </table>
}




@code {

    private bool NothingToShow => !MatchReportList.Any();

    private List<MatchReport> MatchReportList { get; set; } = new List<MatchReport>();

    public void Show(List<MatchReport> reportToShow)
    {
        //add in value
        MatchReportList = reportToShow;

        //refresh view
        this.StateHasChanged();
    }

    
}
