@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


@*
    Small component placed on page top
*@

<div class="vstack mb-2">
    <h1 class="fw-bold"><span style="margin-top: -10px;" class="iconify" data-icon="@IconName" data-width="@IconSize"></span> @Title</h1>
    @*if no buttons row, then reduce margin bottom*@
    <p class="fs-5 col-md-8 @(IsButtonsRow?"":"mb-0")" style="max-width: @GR.W667px;">@Description</p>
    @if (IsButtonsRow)
    {
        @*flex wrap needed to make button wrap nicely in mobile*@
        <div class="hstack gap-4 d-flex flex-wrap" >
            @ButtonsRow
        </div>
    }
    <hr class="border-secondary border @(IsButtonsRow?"":"mt-1")" />
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? IconName { get; set; }

    /// <summary>
    /// If true, then buttons row data provided
    /// </summary>
    private bool IsButtonsRow => ButtonsRow != null;

    /// <summary>
    /// Default to 50
    /// </summary>
    [Parameter]
    public int? IconSize { get; set; } = 50;

    [Parameter]
    public RenderFragment? Description { get; set; }

    [Parameter]
    public RenderFragment? ButtonsRow { get; set; }
}
