@using VedAstro.Library
@attribute [Route(PageRoute.APIBuilder)]


<PageTitle>Easy Open API | VedAstro</PageTitle>

<PageTop ImageName="api-builder-banner.png"
         Title="Open API"
         DescriptionText="Advanced astronomical data via a simple HTTP request for free.
 Enabling you to build your app or service faster and cheaper. Including Python & .NET library.">
</PageTop>

@*
    This makes sure API Builder is loaded first.
    Else loading of other components start at the same time
*@
@if (_mainPageInitDone)
{
    @*API DROP DOWN SELECTORS*@
    <div>
        <div class="d-flex flex-wrap gap-5" style="max-width:@GR.W667px;">

            @*GENERATOR*@
            @* id so can autoscroll here *@
            <div id="@DropDownID" class="vstack gap-3" style="max-width: @GR.W412px;">
                
                <div  class="vstack gap-4">
                    @* FUNCTION NAME SELECT *@
                    <div >
                        <IconTitle IconName="flat-color-icons:calculator" Title="Calculator" TitleHolder="h5" MaxWidthPx="@((int)GR.W667)" />
                        <APISelectorBox @ref="_apiSelectorBox" />
                    </div>

                    @* INPUT PARAM NAME SELECT *@
                    <div id="ParamInputHolderElement" style="display: none">
                        <IconTitle IconName="flat-color-icons:multiple-inputs" Title="Input Parameters" TitleHolder="h5" MaxWidthPx="@((int)GR.W667)" />
                        <ParameterInputPanel @ref="_parameterInputPanel" />
                    </div>
                </div>

                @* -------- BOTTOM BUTTONS --------*@
                <IconButton ButtonText="Generate" FullWidth="true" FontSize="17px" FontWeight="500" TextCenter="true" SmallSize="true" Color="success" IconName="flat-color-icons:flash-auto" OnClickCallback="@OnClickGenerateButton" />
                
                @* hidden until Generate button is clicked *@
                <div id="ParamOutputOptionsPanel" class="vstack gap-3" style="display: none;">
                    @*OUTPUT ARROW ICON*@
                    <Icon IconName="flat-color-icons:down" ExtraStyle="text-align: center;" Size="80" />

                    @*URL DISPLAY OUT*@
                    @* id so we can scroll to on complete *@
                    <div class="vstack gap-1" style="margin-top: -32px;">
                        <span style="font-size: 14px; color: @AppData.Grey;">URL</span>
                        <kbd id="UrlDisplayOut" style="padding: 12px; font-size: 18px; overflow-wrap: break-word; line-height: 33px;">@_finalApiGetCall</kbd>
                    </div>

                    @*COPY AND CALL BUTTON*@
                    <div class="d-flex justify-content-center gap-3">
                        <IconButton  TooltipPosition="bottom" TooltipText="View Source Code" IconName="streamline:programming-browser-code-2-code-browser-tags-angle-programming-bracket" OnClickCallback="@(()=>WebsiteTools.OnClickGotoGithubCode(_apiSelectorBox.SelectedMethod))" SmallSize="true" />

                        <IconButton TooltipPosition="bottom" TooltipText="Quick Start Snippet" SmallSize="true" ButtonText="Snippet" IconName="ph:code-fill">
                            <DropDownList>
                                <li>
                                    <a class="dropdown-item hstack gap-1" @onclick="@(() => WebsiteTools.OnClickCopyPythonSnippet(_apiSelectorBox.SelectedMethod, this))">
                                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="vscode-icons:file-type-python" />
                                        <span>Python</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item hstack gap-1" @onclick="@(() => AppData.Go(URL.GitHubDemoFiles,newTab:true))">
                                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="skill-icons:javascript" />
                                        <span>JavaScript</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item hstack gap-1" @onclick="@(() => _jsRuntime.FunFeaturePopUp("Swift"))">
                                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="devicon:swift" />
                                        <span>Swift</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item hstack gap-1" @onclick="@(() => _jsRuntime.FunFeaturePopUp("Java"))">
                                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="devicon:java" />
                                        <span>Java</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item hstack gap-1" @onclick="@(() => _jsRuntime.FunFeaturePopUp("C#"))">
                                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="devicon:csharp" />
                                        <span>C# .NET</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item hstack gap-1" @onclick="@(() => _jsRuntime.FunFeaturePopUp("PHP"))">
                                        <Icon ExtraClass="me-2 mt-1" NextToText="true" IconName="devicon:php" />
                                        <span>PHP</span>
                                    </a>
                                </li>
                            </DropDownList>
                        </IconButton>
                        <IconButton ButtonText="URL" TooltipPosition="bottom" TooltipText="Copy above URL" IconName="carbon:link" OnClickCallback="OnClickCopyChartLink" SmallSize="true" />
                        <IconButton FullWidth="true" Color="success" ButtonText="Test Call" TooltipPosition="bottom" TooltipText="Demo call to see output" IconName="ph:phone-call-light" OnClickCallback="OnDemoCallGeneratedUrl" SmallSize="true" />
                    </div>

                </div>
                

            </div>

            @*GUIDE TEXT*@
            <div class="vstack gap-3 mt-4">
                <ArticleBlock @ref="_nextStepArticleBlock" Title="Next Step" IconName="mdi:foot-print">
                    <ButtonRow>
                        <IconButton SmallSize="true" ButtonText="Guide" IconName="logos:youtube-icon" OpenNewTab="true" ClickUrl="@URL.APIGuideNextStep" />
                    </ButtonRow>
                    <TextHTML>
                        <p>
                            Make a <kbd>HTTP GET</kbd> request from your app or website. It can be in any language
                            <strong>JS, Python, C#, Java</strong> or even your browsers' URL. <BoldLink URL="@URL.GitHubDemoFiles">Demo Files</BoldLink>
                        </p>
                    </TextHTML>
                </ArticleBlock>

                @* LIST OF ALL API CALLS *@
                <APICallList @ref="_apiCallList" />

                <ArticleBlock Title="Price" IconName="flat-color-icons:money-transfer">
                    <ButtonRow>
                        <IconButton PlaceBottom="true" SmallSize="true" Color="warning" ButtonText="Donate" IconName="openmoji:love-letter" ClickUrl="@PageRoute.Donate" />
                    </ButtonRow>
                    <TextHTML>
                        This service will run for <kbd>FREE</kbd>, so long there is money in the <strong>donation box</strong>.
                        Below is the <strong>live</strong> balance with auto deducting server &amp; maintenance costs.

                        <DonationBalanceViewer />

                        Please <BoldLink URL="@PageRoute.Donate">Donate</BoldLink> to keep this service running for yourself and others.
                    </TextHTML>
                </ArticleBlock>

                <ArticleBlock Title="Simple Response" IconName="bi:filetype-json">
                    <TextHTML>
                        Data is returned in <strong>JSON</strong>. Only 2 properties. First field is always <kbd>Status</kbd>, it can be only <kbd style="background-color:green;">Pass</kbd> or <kbd style="background-color:red;">Fail</kbd>.
                        If it shows <kbd style="background-color:red;">Fail</kbd> then most likely cause is invalid data on your part. More details about the
                        error will be in <kbd>Payload</kbd> property. If call is successful, all the data you need will be alphabetically stored in <kbd>Payload</kbd> property.
                    </TextHTML>
                </ArticleBlock>

                <ArticleBlock Title="No Manuals Needed" IconName="emojione:clamp">
                    <TextHTML>
                        This API is made to be easy for any beginner to get started.
                        The biggest problem with consuming any API, is the <strong>learning curve</strong> .
                        Normally the first 3-5 hours will be spent learning the small nuances or semantics used by the API provider.
                        We hope to reduce this lag with this simple &amp; intuitive <strong>API Builder</strong>.
                    </TextHTML>
                </ArticleBlock>

                <ArticleBlock Title="Sponsor Music" IconName="emojione:violin">
                    <ButtonRow>
                        <IconButton ClickUrl="@PageRoute.Donate" IconName="flat-color-icons:donate" ButtonText="Tip" Outline="true" SmallSize="true"></IconButton>
                    </ButtonRow>
                    <TextHTML>
                        Running this API service, is like playing a <strong>beautiful public orchestra</strong>.
                        It is only possible because of many moving parts by many people.
                        Servers need to be optimized, updated and maintained. Code needs to be improved, tested and cleaned.

                        <img src="images/public-orchestra.jpg" class="img-thumbnail my-3" alt="...">

                        And all this has to be juggled to create the final product you see. Its a group effort.
                        Please consider supporting this service to keep the "music" playing.
                        <strong>Everybody</strong> can enjoy the music, so long as there's <strong>one</strong> person, willing to <BoldLink URL="@PageRoute.Donate">tip</BoldLink>

                        <QuoteTextBlock Author="W.H. Auden" URL="@URL.WHAudenWiki">
                            We are all here on earth to help others:<br />what on earth the others are here for,<br />I don't know.
                        </QuoteTextBlock>
                    </TextHTML>
                </ArticleBlock>

                <ArticleBlock Title="Reverse Engineer" IconName="emojione:hammer-and-wrench">
                    <TextHTML>
                        To maximize the use of the API, you need to understand its <strong>basic structure</strong>.
                        And the best way todo so is to <strong>play with it</strong>. Try modifying the API URL in your browser,
                        and see what data you get. Experiment with different data formats.
                        The API is designed to handle this, so don't worry about breaking it.🎈Have fun.
                    </TextHTML>
                </ArticleBlock>

            </div>
        </div>
    </div>

}


@code {

    #region FIELDS


    private APISelectorBox? _apiSelectorBox = null;
    private APICallList? _apiCallList = null;

    private ArticleBlock _nextStepArticleBlock;

    private ParameterInputPanel? _parameterInputPanel;

    private string _finalApiGetCall = "https://api.vedastro.org/Home";

    /// <summary>
    /// Marker to control component loading
    /// start as false
    /// </summary>
    bool _mainPageInitDone = false;

    /// <summary>
    /// marker to make sure only attache handler once
    /// </summary>
    private bool _isEventAttached = false;



    #endregion

    protected override async Task OnInitializedAsync()
    {

        //NOTE: small needed else, components rendering gets messed up (time to pop)
        await _jsRuntime.ShowLoading(50);

        //other components can start loading now (heavy computation starts)
        _mainPageInitDone = true;

        //show data on display
        _jsRuntime.HideAlert();

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_apiSelectorBox != null && !_isEventAttached)
        {
            //attach handler when select api button is clicked from "Browse Calls" window.
            //this will allow to select that API in the main selector
            _apiCallList.OnClickSelectAPI += OnClickSelectAPIHandler;

            //sub event: when an method is selected, auto show inputs panel
            _apiSelectorBox.OnChangeSelectMethod += OnChangeSelectMethod;
            _isEventAttached = true;

            //hide next step article block
            _jsRuntime.Hide(_nextStepArticleBlock.ElementReference);
        }
    }

    /// <summary>
    /// Checks if validation of all input fields
    /// </summary>
    public async Task<bool> IsValidationPassed()
    {
        //TEST 1 : Calculator name
        var isSelected = _apiSelectorBox.IsSelected();
        if (!isSelected)
        {
            //mark invalid & alert user
            await _jsRuntime.ShowAlert("error", "Please select a Calculator first!", true);
            return false;
        }

        //TEST 2 : All input drop down selected
        var isValid = await _parameterInputPanel.IsValidationPassed(); //will raise own error
        if (!isValid) { return false; }


        //if control reaches here than, it's valid
        return true;

    }


    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    /// <summary>
    /// When user selects a method, this is code is called
    /// </summary>
    private void OnChangeSelectMethod(object sender, EventArgs e)
    {
        //only continue if user has selected a method
        if (_apiSelectorBox.GetSelectedMethodName() != "")
        {

            var openApiMetadata = _apiSelectorBox.SelectedMethod;
            //inject the data into the input panel
            _parameterInputPanel.Show(openApiMetadata);

            //make param input panel visible
            _jsRuntime.SlideDown("ParamInputHolderElement");

        }
    }

    //note without #, for code use later
    private string DropDownID = "APIDropDownHolder";

    private void OnClickSelectAPIHandler(object sender, EventArgs e)
    {
        //get name of selected API
        var selected = (OpenAPIMetadata)e;

        //bring window focus to the drop-down
        _jsRuntime.ScrollToDivById(DropDownID);

        //programmatically select this API from the drop-down
        _apiSelectorBox.SetSelectedMethod(selected);

    }

    /// <summary>
    /// After user click generate check data validity, generate final url
    /// </summary>
    /// <returns></returns>
    private async Task OnClickGenerateButton()
    {
        await _jsRuntime.ShowLoading(100);

        //only continue if passed input field validation
        if (!(await IsValidationPassed())) { return; }

        //STAGE 2 :
        //combine the call
        //NOTE: use to direct URL to save money 💰😁
        var domain = AppData.URL.ApiUrlDirect; //get stable or beta as needed

        //format of the API call
        //.../Calculator/DistanceBetweenPlanets/PlanetName/Sun/PlanetName/Moon/Location/Singapore/Time/23:59/31/12/2000/+08:00
        var placeHolder = "";
        var calcName = $"/Calculate/{_apiSelectorBox.GetSelectedMethodName()}";
        var paramInput = await _parameterInputPanel.ToApiUrl();
        placeHolder = domain + calcName + paramInput;


        _finalApiGetCall = placeHolder;

        //tactile feedback to user
        await _jsRuntime.ShowAlert("success", AlertText.IsDoneText(), false, 2200);

        _jsRuntime.PlayDoneSound();

        //show output options panel
        _jsRuntime.SlideDown("ParamOutputOptionsPanel");

        //show next step article block
        _jsRuntime.Show(_nextStepArticleBlock.ElementReference);

        //auto scroll to URL display out, so user can see better
        AppData.Go(PageRoute.UrlDisplayOut);
    }

    private async Task OnDemoCallGeneratedUrl()
    {
        //make API GET direct call on new tab
        _jsRuntime.OpenNewTab(_finalApiGetCall);
    }

    private async Task OnClickCopyChartLink()
    {
        //use js to transfer to clipboard
        await _jsRuntime.InvokeVoidAsync(JS.CopyToClipboard, _finalApiGetCall);

        //let user know link copied
        await _jsRuntime.ShowAlert("success", $"Call Copied!", false, 2600);
    }


    

}
