@attribute [Route(PageRoute.CalculatorList)]

<PageTitle>Calculator List</PageTitle>
<PageTop Title="Calculator List" IconName="flat-color-icons:calculator">
    <Description>
        Each calculator shows an aspect of vedic astrology.
        Learn to use multiple calculators to make accurate predictions.
    </Description>
</PageTop>

<table class="table table-bordered table-striped" style="text-wrap: nowrap;">
    <thead class="table-dark">
        <tr>
            <th>Calculator</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="@PageRoute.Match" class="link-primary">Match</a></td>
            <td>Check marriage compatibility between horoscopes, using 16 factors.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.LifePredictor" class="link-primary">Life Predictor</a></td>
            <td>Know good and bad periods of a person&apos;s life years ahead. (Dasa, Gochara)</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.GoodTimeFinder" class="link-primary">Good Time Finder</a></td>
            <td>Find a good time for buying car, travel, studies, etc.. (Muhurtha)</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.Horoscope" class="link-primary">Horoscope</a></td>
            <td>Shows all possible prediction for a person from birth time.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.LocalMeanTime" class="link-primary">Local Mean Time</a></td>
            <td>Actual time at a place based on coordinates, used in astrological calculations.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.SunRiseSetTime" class="link-primary">Sunrise/Sunset Time</a></td>
            <td>Accurate sunrise &amp; sunset time at any place on earth.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.BirthTimeFinder" class="link-primary">Birth Time Finder</a></td>
            <td>Find forgotten/lost birth time using astrological methods.</td>
        </tr>
    </tbody>
</table>

<h3>Quick Links</h3>
<table class="table table-bordered table-striped" style="text-wrap: nowrap;">
    <tbody>
        <tr>
            <td><a href="@PageRoute.Journal" class="link-primary">Astro Journal</a></td>
            <td>See astrological reasons for the past events of a human life.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.SavedCharts" class="link-primary">Saved Charts</a></td>
            <td>List of all saved astrological charts to your account.</td>
        </tr>
        <tr>
            <td><a href="@PageRoute.APIBuilder" class="link-primary">Open API</a></td>
            <td>Free API access to powerful astrological tools.</td>
        </tr>
    </tbody>
</table>


@code {

}
