@attribute [Route(PageRoute.LifePredictor)]
@attribute [Route(PageRoute.LifePredictorParam)]
@using VedAstro.Library

<PageTitle>@_pageTitle</PageTitle>

<PageTop ImageName="@Tools.RandomSelect(new []{"life-predictor-banner.png","life-predictor-banner-2.png"})"
         Title="Life Predictor"
         DescriptionText="Each life is a story. Advanced computation algorithms fused with ancient astrology makes this chart possible.
        Its a digital snapshot of a human's life on earth.">
</PageTop>


@*Dasas are major periods in which the indications of the planets are realised.
Know good and bad periods of your life years ahead.*@


<div>
    <div class="d-flex justify-content-between">
        
        <div class="vstack gap-3 p-3">
            <PersonSelectorBox @ref="_easyPersonSelectorBox" />

            <div>
                <label class="form-label">Time Range<HelpIconTooltip SmallIcon="true" HelpText="@HelpText.DasaTimeRange" /></label>
                <select @bind="_selectedTimeRange" class="form-control" style="width: fit-content; min-width: 273px;">
                    <option value="FullLife">Full Life</option>
                    <option value="week">This Week</option>
                    <option value="month">This Month</option>
                    <option value="year">This Year</option>
                    <option value="decade">This Decade</option>
                    <option value="Age1to25">Age 1 to 25</option>
                    <option value="Age10to35">Age 10 to 35</option>
                    <option value="Age25to50">Age 25 to 50</option>
                    <option value="Age35to60">Age 35 to 60</option>
                    <option value="Age50to75">Age 50 to 75</option>
                    <option value="Age60to85">Age 60 to 85</option>
                    <option value="Age75to100">Age 75 to 100</option>
                </select>
            </div>

            <IconButton SmallSize="true" IconName="uim:process" ButtonText="Calculate" Color="success" OnClickCallback="OnClickCalculateEasy" ShowDelayWarning="true"></IconButton>

        </div>


        <div>
            <InfoBox Title="Accurate" FullWidth="true" MaxWidth="@GR.W412" IconName="noto-v1:direct-hit">
                <DescriptionHTML>
                    Easy prediction of your life events
                </DescriptionHTML>
                <ImageHTML>
                    <img class="img-thumbnail" src="images/life-predictor-alertbox-examples.jpg" />
                </ImageHTML>
            </InfoBox>
        </div>

    </div>

</div>

<hr>

@*hide until ready but initialized as well*@
<div style="@(_isResultReady?"":"display:none;")">
    <div @ref="_holderDiv">
        <EventsChartViewer @ref="_eventsChartViewer" />
    </div>
</div>

<hr />

<div class="gap-3 mt-5" style="max-width: @GR.W667px">

    <ArticleBlock Title="Colors" IconName="noto-v1:artist-palette">
        <TextHTML>
            <p class="text-justify">
                Our eyes and brain can <strong>process and understand</strong> colors much more easily than text.
                That is why we converted complicated predictions into easy to understand colors.
            </p>

            <img src="images/life-predictor-image-1.jpg" class="img-thumbnail my-3" alt="...">

            <p class="text-justify">
                <span style="color: red; font-weight: 900;">RED</span> is for bad life events, <span style="color: green; font-weight: 900;">GREEN</span> is
                for good. This makes it possible to quickly read a life chart with <strong>zero</strong> astrological knowledge. No manuals needed.
            </p>
        </TextHTML>
    </ArticleBlock>
    


    <ArticleBlock Title="Intensity" IconName="emojione:level-slider">
        <TextHTML>
            <p class="text-justify">
                To see how <strong>good or bad </strong> the life event is going to be. Look carefully at the summary row.
                The intensity of the <span style="color: red;font-weight: 900;">RED</span> or <span style="color: green;font-weight: 900;">GREEN</span> is different.
                When it is very <span style="color: darkred;font-weight: 900;">dark red</span> and no green lines around, it means that a very bad event will happen then.
                What exactly will happen will depend on your karma. What we can say <strong>for sure</strong>:- during red period a native
                will never say "I'm perfectly happy in life now". When it says red, something will be poking you. Maybe it is big, maybe small issue.
                But if the charts says it is there it will be there.

            </p>
        </TextHTML>
    </ArticleBlock>
    
    <img src="images/life-predictor-connection.jpg" class="img-thumbnail my-3" alt="...">


    <ArticleBlock Title="Coincidence?" IconName="line-md:moon-rising-loop">
        <TextHTML>
            We use the aspect of "<strong>Mind</strong>" in astrology to make this chart. <strong>Why?</strong> because anything that effects your mind will make a difference to you.
            For instance we can make a chart to predict only "<strong>Weather</strong>" over your head, but if you live in the city and don't really care about rain or shine.
            Than what use is that complex chart to you. Most people will say the prediction is wrong. Of course it never effected the them, can't tell even if correct.

            We have seen to many cases to call this <strong>prediction lines</strong> a "coincidence".
            You will be aware of it. But when it says <span style="color: green;font-weight: 900;">GREEN</span>, than one can say it is <strong>impossible</strong> to have a worried mind or troubled heart.
        </TextHTML>

    </ArticleBlock>

    <ArticleBlock Title="Fear Death Date?" IconName="mdi:death">
        <TextHTML>
            There are many recorded accounts of people through history dying peacefully in their sleep.
            Death will not be a tragedy to everybody, <strong>just not possible</strong>.
            It is only a transition date, to be afraid of it is like being afraid of your birthday. Life will not be fun that way, we have all tried it.
            And know very well what life without knowing tomorrows tragedy is like.
            Even death during <span style="color: green;font-weight: 900;">GREEN</span> period will be happy or peaceful and never tragic.
            Keep in mind this algorithm does "NOT" count <strong>death</strong> as a bad life event, it is <strong>how</strong> you die that is predicted to be good or bad.
            Some say, "I like not knowing". We say, "<strong>Good luck</strong>".
        </TextHTML>

    </ArticleBlock>

    <ArticleBlock Title="Winning The Lotto" IconName="noto-v1:money-bag">
        <TextHTML>
            Since it is without doubt that we can predict when will a person smile or frown. Than it is possible to predict when a person
            will win the lottery. The "<strong>lottery prize</strong>" is different for every person. Not everybody wants money. Some people are very
            happy when they are with others. When lonely they are sad and dont't like it. For example, for this person we can accurately predict
            that when <span style="color: red;font-weight: 900;">RED</span> lines appear that this person will most likely be left alone,
            hence causing their <strong>lottery loss</strong>. Ergo we predict with confidence, that a person will win a <strong>real cash lottery</strong>
            if only money is equal to happiness to him. The fact is, most people want not just "cash", but also good <strong>Wife or Fame or Courier or Education</strong>
            for actual happiness. Hence also proving why most people don't win the lottery in real life.
        </TextHTML>

    </ArticleBlock>


</div>


@code {

    /// <summary>
    /// Param used in URL to set Person ID via URL
    /// also set via URL when page is loaded
    /// </summary>
    [Parameter]
    public string PersonIdUrl { get; set; } = "";

    //private HoroscopeInfoView? horoscopeInfoView;

    private ElementReference _holderDiv;

    private string _pageTitle = "Dasa";
    //--------------------FIELDS
    private string _selectedTimeRange = "FullLife"; //1st in list
    private string _selectedChartId = "";

    private PageHelpSection _helpSection;

    private PersonSelectorBox? _easyPersonSelectorBox;

    private EventsChartViewer? _eventsChartViewer;

    public Person SelectedPerson { get; set; }
    private bool _isResultReady = false; //marks if the page ready to loaded
    private MonthYearSelectorBox _startTimeSelector;
    private MonthYearSelectorBox _endTimeSelector;

    private List<ChartName> _allChartList = new List<ChartName>();


    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER



    private async Task OnClickCalculateEasy() => await InvokeAsync(async () => await _OnClickCalculateEasy()).Try(_jsRuntime);
    protected override async Task OnAfterRenderAsync(bool firstRender) => await InvokeAsync(async () => await _OnAfterRenderAsync(firstRender)).Try(_jsRuntime);


    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    private async Task _OnAfterRenderAsync(bool firstRender)
    {
        //if parameter has been set then auto load person data as
        //though person was selected and don't do click cause we don't know where user whats to click
        if (PersonIdUrl != null && firstRender)
        {
            await _jsRuntime.ShowLoading();

            //programmatically select the person
            await _easyPersonSelectorBox.SetPerson(PersonIdUrl);

            //needed to see updates because any changes in OnAfterRender
            //have to be manually set
            StateHasChanged();

            _jsRuntime.HideLoading();
        }
    }


    private async Task _OnClickCalculateEasy()
    {
        await _jsRuntime.ShowLoading();

        //only continue if passed input field validation
        if (!EasyValidationPassed()) { return; }


        //mark page as NOT ready (when button clicked 2nd time)
        _isResultReady = false;

        //get data from inputs and save it for use by other components
        SelectedPerson = await _easyPersonSelectorBox.GetSelectedPerson();

        //put person name into tab title for easy multi-tabbing
        _pageTitle = $"Dasa | {SelectedPerson.Name}";

        //set data into dasa viewer
        var systemTimezone = Tools.GetSystemTimezone();
        var timeRange = EventChartTools.AutoCalculateTimeRange(SelectedPerson, _selectedTimeRange, systemTimezone);
        //generate the events row & time header row
        var dasaEventTags = new List<EventTag> { EventTag.Dasa, EventTag.Bhukti, EventTag.Antaram, EventTag.Sukshma, EventTag.Prana, EventTag.Gochara };

        //pump data into chart
        await _eventsChartViewer.ShowChart(SelectedPerson, timeRange, dasaEventTags);

        //only set url if not already set
        //note:this improves UX, as links can lead faster to data
        PersonIdUrl = SelectedPerson.Id; //save local copy
       AppData.Go($"{PageRoute.LifePredictor}/{PersonIdUrl}"); //change url


        //mark page as ready to show results
        _isResultReady = true;

        //inject selected person into component to show horoscope data
        //do last so that loading box is not closed too soon
        //await horoscopeInfoView?.SetPerson(SelectedPerson);

        _jsRuntime.HideAlert();

    }


    /// <summary>
    /// Checks if validation of all input fields
    /// </summary>
    private bool EasyValidationPassed()
    {
        //TEST 1
        //if person not selected, invalid
        if (!_easyPersonSelectorBox.IsPersonSelected)
        {
            //mark invalid & alert user
            _jsRuntime.ShowAlert("error", AlertText.SelectName, true);
            return false;
        }


        //if control reaches here than, it's valid
        return true;
    }

    private TimeRange ComputeStartEndTimeFromInput()
    {
        var startMonthYear = _startTimeSelector.GetSelectedTimeText();
        //note the use of system timezone and not birth
        var x = $"00:00 01/{startMonthYear} {Tools.GetSystemTimezoneStr()}";
        var startTime = new Time(x, SelectedPerson.GetBirthLocation());

        var endMonthYear = _endTimeSelector.GetSelectedTimeText();
        //note the use of system timezone and not birth
        var y = $"11:59 {GetLastDay(endMonthYear)}/{endMonthYear} {Tools.GetSystemTimezoneStr()}";
        var endTime = new Time(y, SelectedPerson.GetBirthLocation());

        return new TimeRange(startTime, endTime);



        //-------------------------------

        //gets last day of any month at any time
        int GetLastDay(string monthYearText)
        {
            //split month and year
            string[] splited = monthYearText.Split('/');
            var month = int.Parse(splited[0]);
            var year = int.Parse(splited[1]);

            int daysInMonth = DateTime.DaysInMonth(year: year, month: month);
            return daysInMonth;

        }
    }


}