@using Website.Pages
@using VedAstro.Library


<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Unidentified URL 404</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div>
                <img src="images/unidentified-url.jpg" width="@GR.W412px" class="img-thumbnail" alt="...">

                <h4 class="mt-4">An "Unidentified URL" has been sighted near you!</h4>
                <h4 class="mt-4"></h4>
                <h4><a href="@PageRoute.Contact" class="link-info">Report</a> this 404 error, to get it fixed faster</h4>
            </div>
        </LayoutView>
    </NotFound>
</Router>
    