@using VedAstro.Library
@attribute [Route(PageRoute.OpenApi)]

<PageTitle>Open API | VedAstro</PageTitle>

<PageTop ImageName="api-builder-banner.svg"
         Title="Open API"
         DescriptionText="Advanced astronomical data via a simple HTTP request for free. Enabling you to build your app or service faster and cheaper.">
</PageTop>



<div class="vstack gap-3" style="width:@GR.W667px;">

    <ArticleBlock Title="Easy start" IconName="flat-color-icons:close-up-mode">
        <TextHTML>
            <div class="vstack gap-2 mt-3">
                <div><kbd>STEP 1</kbd>  -  Generate API URL using dropdown <a href="@PageRoute.APIBuilder">API Builder</a></div>
                <div><kbd>STEP 2</kbd>  -  Make a <code>HTTP GET</code> request using any language you want.</div>
                <div><kbd>STEP 3</kbd>  -  Receive advanced astro data in JSON. Done!</div>
            </div>
            </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Easy Builder" IconName="emojione:clamp">
        <ButtonRow>
            <IconButton ClickUrl="@PageRoute.APIBuilder" IconName="twemoji:building-construction" ButtonText="Goto Builder" Outline="true" SmallSize="true"/>
        </ButtonRow>
        <TextHTML>
            A simple API builder using dropdown boxes. This will make it easy for any beginner to get started.
            The biggest problem with consuming any API, is the <strong>learning curve</strong> .
            Normally the first 3-5 hours will be spent learning the small
            nuances or semantics used by the API provider. We hope to reduce this lag with this simple API URL builder.
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Fair Usage Policy" IconName="flat-color-icons:like">
        <TextHTML>
            In order to keep this API FREE for the benefit of all people. Please do not abuse it.
            <ul class="mt-2 gap-2">
                <li>design your app to call the API only when needed</li>
                <li>cache the data you receive</li>
            </ul>   
            If you ram the API with calls every 60s (like some people do), you'll ruin it for everybody.
            <br />
            If you need technical help on this, shoot us a <BoldLink URL="@PageRoute.Contact">mail</BoldLink>. And we'll try our best to help you.
        </TextHTML>
    </ArticleBlock>
    

    <ArticleBlock Title="Sponsor Music" IconName="emojione:violin">
        <ButtonRow>
            <IconButton ClickUrl="@PageRoute.Donate" IconName="flat-color-icons:donate" ButtonText="Tip" Outline="true" SmallSize="true"></IconButton>
        </ButtonRow>
        <TextHTML>
            Running this API service, is like playing a <strong>beautiful public orchestra</strong>.
            It is only possible because of many moving parts by many people.
            Servers need to be optimized, updated and maintained. Code needs to be improved, tested and cleaned.

            <img src="images/public-orchestra.jpg" class="img-thumbnail my-3" alt="...">

            And all this has to be juggled to create the final product you see. Its a group effort.
            Please consider supporting this service to keep the "music" playing.
            <strong>Everybody</strong> can enjoy the music, so long as there's <strong>one</strong> person, willing to <BoldLink URL="@PageRoute.Donate">tip</BoldLink>
        </TextHTML>
    </ArticleBlock>
</div>

@code {


}
